@using System.Web.Mvc.Html
@{ 
    var title = "Dow Jones Website Diagnostics"; 
}
<head>
    <title>@title</title>
</head>

<body>
<h1>@title</h1>

<ul>

    <li>@Html.ActionLink("Client Resource Debugger", "Index", new { area = "Diagnostics", controller="ClientResources" })</li>
    <li>@Html.ActionLink("Embedded Resource Debugger", "Index", new { area = "Diagnostics", controller = "EmbeddedResources" })</li>
    <li>@Html.ActionLink("Mapper Debugger", "Index", new { area = "Diagnostics", controller = "Mapper" })</li>
    <li>@Html.ActionLink("Route Debugger", "Index", new { area = "Diagnostics", controller = "Routes" })</li>
    <li>@Html.ActionLink("Response Generator", "Index", new { area = "Diagnostics", controller = "ResponseGenerator" })</li>

</ul>

</body>
