@{
    Html.DJ().ScriptRegistry()
        .Include("~/scripts/site.js", ClientResourceDependencyLevel.Global)
        .Include("~/scripts/superfish/supersubs.js", ClientResourceDependencyLevel.Global)
        .Include("~/scripts/superfish/superfish.js", ClientResourceDependencyLevel.Global)
        .Include("~/content/syntaxhighlighter/sh.js", ClientResourceDependencyLevel.Global)
        .OnDocumentReady("$('ul.sf-menu').superfish()");

    Html.DJ().StylesheetRegistry()
        .Include("~/content/site.css", ClientResourceDependencyLevel.Global)
        .Include("~/content/superfish/superfish.css", ClientResourceDependencyLevel.Global);
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.DJ().ScriptRegistry().RenderHead()
    @Html.DJ().StylesheetRegistry().ToHtml()
</head>
<body>
    <div id="main-wrapper">
        <div id="header-wrapper">
            <header id="header">
            <h1>@Html.ActionLink("Dow Jones MVC Framework Showcase", "Index", "Home")</h1>
            </header>
        </div>
        <div id="nav-wrapper" class="hide">
            @Html.Partial("_Navigation")
        </div>
        <div id="main-content">
            <h2 class="page-title">@ViewBag.Title</h2>
            @RenderBody()
        </div>
        <div id="footer-wrapper">
            <footer id="footer">
            <div class="footer-logo-left"></div>
            <div class="footer-center">
                <p>Showcase Assembly Version: @ViewBag.ShowcaseAssemblyVersion</p>
                <p>Infrastructure Assembly Version: @ViewBag.InfrastructureAssemblyVersion</p>
            </div>
            <div class="footer-logo-right"></div>
	    </footer>
        </div>
    </div>

    @Html.DJ().StylesheetRegistry().ToHtml()
    @Html.DJ().ScriptRegistry().Render()
</body>
</html>
