@using System.Configuration

<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@Styles.Render("~/styles/core")
    @RenderSection("styles", false)
    
    <!-- required file! DJ.add won't work without "common.js" being available -->
    <script src="@ConfigurationManager.AppSettings["CommonJSPath"]" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>
