@using DowJones.Extensions;
@model DowJones.Web.Mvc.Search.UI.Components.Filters.SearchFilters
@ClientPlugin dj_SearchFilters
@ScriptResource RelativeResourceName=SearchFiltersManager.js
@ScriptResource RelativeResourceName=SearchFilters.js

<input type="hidden" name="filters" class="filters" value="@Model.SerializedFilters.EscapeForHtml(HtmlEscapeType.DoubleQuote)"/>


@* If we don't have any filters just write the hidden field and bail out *@
@if (!Model.HasFilters) { 
    return; 
}


<div class="dj_SearchFilters clearfix dj_search-filters ui-component js_search-filters">
    <div class="wrap">
        <h2 class="filters-label">@DJ.Token("filters")</h2>
        
            <div class="filters clearfix js_filters">
            
                <ul class="filter-controls js_filter-controls">
                    <li class="clear-filters js_clear-filters" tooltip="@DJ.Token("clearFilters")">@DJ.Token("clear")</li> 
                    <li style="display:none;" less-label="@DJ.Token("less")" more-label="@DJ.Token("more")" class="display-toggle js_display-toggle" tooltip="@DJ.Token("showMore")"> 
                        <span class="label">@DJ.Token("more")</span> 
                        <span class="dj_icon"></span>
                    </li>
                </ul><!-- end: .clear-expand -->

                <ul class="dj_pill-list yellow clearfix js_pill-list">

                @foreach (var group in Model.Groups)
                {
                    <li class="filter-group">
                        <span class="section-category">@DJ.Token(group.Category):</span>
                        <ul class="filter-list">

                        @foreach (var filter in group)
                        {
                        
                            <li class="dj_pill" data-code="@filter.Code" data-name="@filter.Name.EscapeForHtml(HtmlEscapeType.DoubleQuote)">
                                    <span href="#" class="filter ellipsis">@filter.Name</span>
                                    <span class="remove"></span>
                            </li>
                        
                        }

                        </ul><!-- end: .filter-list -->
                    </li><!-- end: .filter-group -->
                }

                </ul><!-- end: .dj_pill-list-->
                    
            </div><!-- end: .filters -->
    </div>
</div>