@using DowJones.Dash.Components.Models.BrowserStats
@using DowJones.Dash.Components.Models.PageTimings
@using DowJones.Dash.Components.Models.BrowserShare
@using DowJones.Dash.Components.Models.PlatformStats
@using DowJones.Dash.Components.Models.TopPages
@using DowJones.Dash.Components.Models.ConcurrentVisits
@using DowJones.Dash.Components.Models.TopReferrer
@using DowJones.Dash.Components.Models.UsersStats
@{
    ViewBag.Title = "Dash> Executive Dashboard";
}
@section styles {
    <link href="~/Content/topPages.css" rel="stylesheet" />
    <link href="~/Content/perfGauge.css" rel="stylesheet" />
    <link href="~/Content/concurrentVisits.css" rel="stylesheet" />
}
<section id="dashboard" class="row-fluid">
    <div id="column1" class="span4">
        <div id="current-users" class="module" data-type="CurrentUserStats">
            @DJ.Render(new ConcurrentVisitsModel())
        </div>
        <div id="current-users" class="module" data-type="PlatformStats">
            @DJ.Render(new PlatformStatsModel())
        </div>
        
        <div id="current-users" class="module" data-type="PlatformStats">
            @DJ.Render(new UsersStatsModel())
        </div>
       
    </div>
	<div id="column2" class="span4">
		<div id="browser-stats" class="module" data-type="BrowserStats">
			@DJ.Render(new BrowserStatsModel())
		</div>
        <div id="browser-share" class="module" data-type="BrowserShare">
            @DJ.Render(new BrowserShareModel())
        </div>
	</div>

    <div id="column3" class="span4">
         <div id="current-users" class="module" data-type="PageTimings">
            @DJ.Render(new PageTimingsModel())
        </div>

        <div id="top-pages" class="module" data-type="TopPages">
            @DJ.Render(new TopPagesModel())
        </div>

        <div id="top-referrer" class="module" data-type="TopReferrer">
            @DJ.Render(new TopReferrerModel())
        </div>
    </div>
</section>

@DJ.ScriptRegistry().OnDocumentReady("initializeDashboard();")
@section scripts{
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

    <script type="text/javascript">
        function initializeDashboard() {
            $('.trendTabs li').not(':first').find('a')
                .popover({ content: 'Coming soon!', delay: { show: 1000, hide: 1000 } })
                .click(function () {
                    var self = this;
                    setTimeout(function () {
                        $(self).popover('hide');
                    }, 1000);
                });
        }
    </script>
}
