@using DowJones.Dash.Components.Models.TopPages
@using DowJones.Dash.Components.Models.ConcurrentVisits
@using DowJones.Dash.Components.Models.TopReferrer
@{
    ViewBag.Title = "Dash> Executive Dashboard";
}
@section styles {
    <link href="~/Content/topPages.css" rel="stylesheet" />
    <link href="~/Content/perfGauge.css" rel="stylesheet" />
}
<section id="dashboard" class="row-fluid">

    <div id="current-users" class="module span4" data-type="CurrentUserStats">
        @DJ.Render(new ConcurrentVisitsModel())
    </div>

    <div id="top-pages" class="module span4" data-type="TopPages">
        @DJ.Render(new TopPagesModel())
    </div>

    <div id="top-referrer" class="module span4" data-type="TopRerrer">
        @DJ.Render(new TopReferrerModel())
    </div>


    <div id="browser-stats" class="module span4" data-type="BrowserStats">
        <div class="dj_perfGauge">
            <div class="moduleHead">
                <h3>Browser Stats</h3>
                <ul class="moduleControls" style="">
                    <li class="moduleIcon"></li>
                </ul>
            </div>
            <div class="perfGaugeContainer">
                <ul class="dj-perfGaugeItems">
                    <li class="trafficBar">
                        <div>Visitors</div>
                        <div>Page Load Time</div>
                    </li>
					<li class="trafficBar"><span class="visitors">152</span><div class="visitorsText">visitors</div>
                        <div class="browser"><i class="dj-chrome"></i></div>
                        <div class="bar cool">
                            <div class="barValue cool dj-perfGaugeChart-0" style="width: 6%">&nbsp;</div>
                            12ms
                        </div>
                    </li>
                    <li class="trafficBar"><span class="visitors">127</span><div class="visitorsText">visitors</div>
                        <div class="browser"><i class="dj-ie"></i></div>
                        <div class="bar hot">
                            <div class="barValue hot dj-perfGaugeChart-2" style="width: 63%">&nbsp;</div>
                            84ms
                        </div>
                        <div class="browserVersion">IE7</div>
                    </li>
                    <li class="trafficBar"><span class="visitors">104</span><div class="visitorsText">visitors</div>
                        <div class="browser"><i class="dj-ie"></i></div>
                        <div class="bar hot">
                            <div class="barValue hot dj-perfGaugeChart-2" style="width: 48%">&nbsp;</div>
                            84ms
                        </div>
                        <div class="browserVersion">IE8</div>
                    </li>
                    <li class="trafficBar"><span class="visitors">87</span><div class="visitorsText">visitors</div>
                        <div class="browser"><i class="dj-firefox"></i></div>
                        <div class="bar neutral">
                            <div class="barValue neutral dj-perfGaugeChart-1" style="width: 16%">&nbsp;</div>
                            22ms
                        </div>

                    </li>
                    <li class="trafficBar"><span class="visitors">64</span><div class="visitorsText">visitors</div>
                        <div class="browser"><i class="dj-ie"></i></div>
                        <div class="bar neutral">
                            <div class="barValue neutral dj-perfGaugeChart-2" style="width: 24%">&nbsp;</div>
                            84ms
                        </div>
                        <div class="browserVersion">IE9</div>
                    </li>


                </ul>
            </div>
        </div>
    </div>

</section>

<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

<script type="text/javascript">
    @DJ.ScriptRegistry().OnDocumentReady("initializeDashboard();");

    function initializeDashboard() {
    }
</script>
