@using DowJones.Dash.Components.Models.PageTimings
@using DowJones.Dash.Components.Models.BrowserShare
@using DowJones.Dash.Components.Models.TopPages
@using DowJones.Dash.Components.Models.ConcurrentVisits
@using DowJones.Dash.Components.Models.TopReferrer

@{
    ViewBag.Title = "Dash> Executive Dashboard";
}
@section styles {
    <link href="~/Content/topPages.css" rel="stylesheet" />
    <link href="~/Content/perfGauge.css" rel="stylesheet" />
    <link href="~/Content/concurrentVisits.css" rel="stylesheet" />
}
<section id="dashboard" class="row-fluid">
    <div id="column1" class="span4">
        <div id="current-users" class="module" data-type="CurrentUserStats">
            @DJ.Render(new ConcurrentVisitsModel())
        </div>

         <div id="current-users" class="module" data-type="PageTimings">
            @DJ.Render(new PageTimingsModel())
        </div>
    </div>
    <div id="column2" class="span4">
        <div id="browser-stats" class="module" data-type="BrowserStats">
        <div class="dj_perfGauge">
            <div class="moduleHead">
                <h3>Browser Stats</h3>
                <ul class="moduleControls" style="">
                    <li class="moduleIcon"></li>
                </ul>
            </div>
            <div class="perfGaugeContainer">
                <ul class="dj-perfGaugeItems">
                    <li class="trafficBar">
                        <div>Visitors</div>
                        <div>Page Load Time</div>
                    </li>
                    <li class="trafficBar"><span class="visitors">152</span><div class="visitorsText">visitors
                        </div>
                        <div class="browser"><i class="dj-chrome"></i></div>
                        <div class="bar cool">
                            <div class="barValue cool dj-perfGaugeChart-0" style="width: 6%">&nbsp;</div>
                            12ms
                        </div>
                    </li>
                    <li class="trafficBar"><span class="visitors">127</span><div class="visitorsText">visitors
                        </div>
                        <div class="browser"><i class="dj-ie"></i></div>
                        <div class="bar hot">
                            <div class="barValue hot dj-perfGaugeChart-2" style="width: 63%">&nbsp;</div>
                            84ms
                        </div>
                        <div class="browserVersion ie">7</div>
                    </li>
                    <li class="trafficBar"><span class="visitors">104</span><div class="visitorsText">visitors
                        </div>
                        <div class="browser"><i class="dj-ie"></i></div>
                        <div class="bar hot">
                            <div class="barValue hot dj-perfGaugeChart-2" style="width: 48%">&nbsp;</div>
                            84ms
                        </div>
                        <div class="browserVersion ie">8</div>
                    </li>
					<li class="trafficBar"><span class="visitors">87</span><div class="visitorsText">visitors
																		   </div>
						<div class="browser"><i class="dj-firefox"></i></div>
						<div class="bar neutral">
							<div class="barValue neutral dj-perfGaugeChart-1" style="width: 16%">&nbsp;</div>
							22ms
						</div>
                        <div class="browserVersion firefox">5</div>
					</li>
                    <li class="trafficBar"><span class="visitors">64</span><div class="visitorsText">visitors
                        </div>
                        <div class="browser"><i class="dj-ie"></i></div>
                        <div class="bar neutral">
                            <div class="barValue neutral dj-perfGaugeChart-2" style="width: 24%">&nbsp;</div>
                            84ms
                        </div>
                        <div class="browserVersion ie">9</div>
                    </li>
                    <li class="trafficBar"><span class="visitors">19</span><div class="visitorsText">visitors
                        </div>
                        <div class="browser"><i class="dj-firefox"></i></div>
                        <div class="bar neutral">
                            <div class="barValue neutral dj-perfGaugeChart-1" style="width: 20%">&nbsp;</div>
                            22ms
                        </div>
                        <div class="browserVersion">3</div>
                    </li>

                </ul>
            </div>
        </div>
        </div>
    </div>
    
    <div id="column3" class="span4">
        <div id="browser-share" class="module" data-type="BrowserShare">
            @DJ.Render(new BrowserShareModel())
        </div>

        <div id="top-pages" class="module" data-type="TopPages">
            @DJ.Render(new TopPagesModel())
        </div>

        <div id="top-referrer" class="module" data-type="TopRerrer">
            @DJ.Render(new TopReferrerModel())
        </div>
    </div>
</section>

@DJ.ScriptRegistry().OnDocumentReady("initializeDashboard();")



@section scripts{
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

    <script type="text/javascript">
        function initializeDashboard() {
            $('.trendTabs li').not(':first').find('a').click(function () {
                alert('Coming Soon');
                return false;
            });
        }
    </script>
}
