@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DASH: Executive Dashboard</title>

    @(DJ.StylesheetRegistry()
        .Include("~/content/bootstrap.css")
        .Include("~/content/bootstrap-responsive.css")
        .RenderHead())
    @DJ.ScriptRegistry().RenderHead()
    @Scripts.Render("~/bundles/core")
</head>
<body>

    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">DASH: Executive Dashboards</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="container">

    @RenderBody()
        
    <hr/>
    <footer>&copy; @DateTime.Now.Year Dow Jones</footer>
</div>

@DJ.ScriptRegistry().Render()
@DJ.StylesheetRegistry().Render()
</body>
</html>
