@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DASH: Executive Dashboard</title>

    <!-- Common -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Executive Dashboard">

    <!--iOS. -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!--Microsoft. -->
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    @Styles.Render("~/css/core")

    @RenderSection("styles", false)

    @DJ.ScriptRegistry().RenderHead()

    @Scripts.Render("~/bundles/core")
</head>
	<body>
		@Html.Partial("_ThemeManager")
		@RenderBody()
		@Html.Partial("_DetailedFooter")
	</body>
@DJ.ScriptRegistry().Render()
@DJ.StylesheetRegistry().Render()
@RenderSection("scripts", false)
</html>
