@using System.Web.Optimization
@using DowJones.Dash.Website
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DASH: Executive Dashboard</title>

    @Styles.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="~/content/layout.css" />

    <link rel="stylesheet" href="~/content/perfGauge.css" />
    <link rel="stylesheet" href="~/content/statsMap.css" />
    @DJ.ScriptRegistry().RenderHead()
    @Scripts.Render("~/bundles/core")

    @RenderSection("styles", false)
</head>
<body>
    <header>
        <a href="#module-gallery" class="cog" role="button" data-toggle="modal" data-original-title="">
        </a>
        <h1><a href="@Url.Content("~")">Dash</a></h1>
    </header>

    <div class="navbar navbar-fixed-top hidden-desktop hidden-tablet">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="@Url.Content("~")">Dash</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                             <a href="#"><img src="~/Content/images/wsj.png" alt="Wall Street Journal: US" />US</a>
                        </li>
                        <li>
							<a href="#"><img src="~/Content/images/marketwatch.png" alt="Marketwatch" />Marketwatch</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/Content/images/wsj.png" alt="Wall Street Journal: Asia Pacific" />China</a>
                        </li>
						<li>
							<a href="#"><img src="~/Content/images/wsj.png" alt="Wall Street Journal: Japan" />Japan</a>
						</li>
                        <li>
							<a href="#"><img src="~/Content/images/smartmoney.png" alt="Smart Money" />SmartMoney</a>
						</li>
						<li>
							<a href="#"><img src="~/Content/images/barrons.png" alt="Barrons" />Barrons</a>
						</li>
                                                <li>
                            <a href="#"><img src="~/Content/images/factiva.png" alt="Factiva" />Factiva</a>
                        </li>

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="main-nav-wrapper hidden-phone">
        <div class="navbar navbar-top main-nav">
            <div class="navbar-inner">
                <div class="container-fluid ">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <div class="nav-collapse">
                        @Html.Partial("_MainNavigation")
                    </div>
                    <!--/.nav-collapse -->
                </div>

            </div>
        </div>


    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer class="container-fluid">
        <div class="row-fluid">
            <h5 class="pull-left">Welcome to the private beta of Executive Dashboards!</h5>
            <div class="copyright pull-right">
                ©@DateTime.Now.Year Factiva, Inc. All rights reserved. <a href="#">Privacy Policy</a><img src="@Url.Content("~/content/images/djFooterLogo.png")" alt="DowJones Logo"/>
            </div>
        </div>
        <div class="row-fluid">
            <p class="username pull-left">Logged in as: @User.Identity.Name</p>
            <p class="version pull-right">Version: @MvcApplication.Version.Value (@MvcApplication.AssemblyTimestamp) UTC</p>
        </div>
    </footer>
</body>
@DJ.ScriptRegistry().Render()
@DJ.StylesheetRegistry().Render()
@RenderSection("scripts", false)
</html>
