@using CurrentsHeadline
@model CurrentsHeadlineModel
@ClientPlugin dj_CurrentsHeadline
@ScriptResource RelativeResourceName=CurrentsHeadline.js
@{ CssClass = "dj_CurrentsHeadline"; }

<ul class="dj_CurrentsHeadline items">
	@if (Model.HasData)
	{
		foreach (var headline in Model.Headlines)
		{
			<li class="dj_entry @Model.GetSelectionStatus(headline) @headline.ContentCategoryDescriptor @headline.ContentSubCategoryDescriptor">
				<div class="article-wrap">
					<h4 class="article-headline">
					    <a href="@Model.GetHeadlineUrl(headline)" class="article-view-trigger" target="_blank">@headline.Title</a>
					</h4>
					@if (Model.ShouldShowSource(headline) || Model.ShouldShowPublicationDateTime(headline))
					{
						<div class="article-meta">
							@if (Model.ShouldShowSource(headline))
							{
								if (Model.SourceClickable)
								{
									<span class="article-source source-clickable" rel="@headline.SourceCode ">@headline.SourceDescriptor </span>
									<br />
								}
								else
								{
									<span class="article-source">@headline.SourceDescriptor </span>
									<br />
								}
							} 
							@if (Model.ShouldShowPublicationDateTime(headline))
							{
								<span class="date-stamp">@headline.PublicationDateDescriptor </span>
							} 
						</div>
					}
				</div>
			</li>
		}
	}
	else
		  {
			  <li><span class="dj_noResults">@DJ.Token("noResults")</span></li>
		  }
</ul>