@model RouteDebuggerViewModel
@using System.Web.Mvc.Html
<html>
<head>
    <title>Route Debugger</title>
    <style type='text/css'>
        table  
        {
            border-collapse: collapse;
        }
        
        td
        {
            font: 10pt Arial;
            border: solid 1px black;
            padding: 3px; 
        }
        
        .hilite 
        {
            background-color: lightgreen;
        }
    </style>
</head>
<body>
    <h1>
        Route Debugger</h1>
    <form action=''>
        @Html.Label("Url", "Url:")
        @Html.TextBox("Url", Model.Url, new { size="60" })
        @Html.DropDownList("HttpMethod", Model.HttpMethods, Model.HttpMethod)
        <input type='submit' value='Debug' />
    </form>
    <table>
        <caption>Routes</caption>
        <thead>
            <tr>
                <th>Matches</th>
                <th>Url</th>
                <th>Defaults</th>
                <th>Constraints</th>
                <th>DataTokens</th>
                <th>Values</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var route in Model.Routes) {
                <tr class='@(route.IsMatch ? "hilite" : string.Empty)'>
                    <td>@(route.IsMatch ? "Yes" : string.Empty)</td>
                    <td>@route.Url</td>
                    <td>@route.Defaults</td>
                    <td>@route.Constraints</td>
                    <td>@route.DataTokens</td>
                    <td>@route.Values</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
