@model DiscoveryModel
@ClientPlugin dj_Discovery
@ClientTemplate RelativeResourceName=ClientTemplates.Success.htm, TemplateId=success
@ScriptResource RelativeResourceName=Discovery.js
@{ CssClass = "dj_Discovery"; }
@if (Model != null && Model.DiscoveryCollection != null && Model.DiscoveryCollection.Count > 0)
{
    <ul class="discovery">
        @foreach (var list in Model.DiscoveryCollection)
        {
            if (list != null && list.DiscoveryItems.Count > 0)
            {
                switch (list.ChartType)
                {
                    case DowJones.Web.Mvc.UI.Components.Discovery.DiscoveryChartTypes.TagCloud:
                        <li class="discovery-group expanded">
                            <div class="discovery-type">
                                <span class="toggle">&nbsp;</span>
                                <span class="name">Keywords</span>
                            </div>
                            <ul class="discovery-items dj_emg_djc_keyword_list">
                                @foreach (var k in list.DiscoveryItems)
                                { 
                                    <li class="@("dj_emg_djc_keyword_item" + Math.Ceiling(k.ShareOfTop / 10)) item cloud-item" data-type="text" data-name="@k.Data" data-value="@k.Id">
                                        <a href="#" title="@k.Data">@k.Data</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        break;
                    case DowJones.Web.Mvc.UI.Components.Discovery.DiscoveryChartTypes.DateNavigator:
                        break;
                    default:
                        <li class="discovery-group expanded">
                            <div class="discovery-type">
                                <span class="toggle">&nbsp;</span><span class="name">@list.Title</span>
                            </div>
                            <ul class="discovery-items">
                                @foreach (var b in list.DiscoveryItems)
                                {
                                    <li class="item chart-item" data-type="@list.DataTypeCode" data-name="@b.Data" data-value="@b.Id">
                                        <span class="discovery-label">
                                            <a href="#" title="@b.Data">@b.Data</a>
                                        </span> 
                                        <span class="discovery-chart">
                                            <span class="chart-value">@(b.Count > 0 ? b.Count : b.Count)</span>
                                            <span style="width:@b.ShareOfTop%;" class="chart-bar">&nbsp;</span>
                                        </span>
                                    </li>
                                }
                            </ul>
                        </li>
                        break;
                }
            }
        }
    </ul>
}
