<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="timestamp" content="@DateTime.Now" />
	<title>@ViewBag.Title</title>
    @Styles.Render("~/Styles/themes/spacelab/theme-spacelab")
    @Scripts.Render("~/bundles/head")
    @RenderSection("styles", false)
</head>
<body>
    @Html.Action("Navigation", "Documentation")
    @RenderBody()
    @Scripts.Render("~/bundles/core")
    @RenderSection("scripts", required: false)
</body>
</html>
