@using System.Configuration
@model DowJones.Web.Mvc.UI.Components.Article.ArticleModel

@{
    ViewBag.Title = "Article Demo";
}
@DJ.ScriptRegistry().RenderHead()
@DJ.StylesheetRegistry().RenderHead()
    
@section styles{
	<link href="@Url.Content("~/styles/views/Article/Snapshot.css")" rel="stylesheet" />
    <link href="@ConfigurationManager.AppSettings["InfrastructureShowcase.BasePath"]/styles/views/Article/Snapshot.css" rel="stylesheet" />  
}

<section id="main" class="article-page">
    <div class="article">
        @DJ.Render(Model)
    </div>
</section>
@DJ.StylesheetRegistry().Render() 
@DJ.ScriptRegistry().Render()