@{
    ViewBag.Title = "Client Side Article Demo";
    Layout = "~/Views/Shared/_Layout_ComponentExplorer.cshtml";
}
@section Styles{
    <link href="@Url.Content("~/styles/css/article.css")" rel="stylesheet" />

    <style>
        header h1 {
            margin: 0 !important;
            padding: 4px 0 4px 4px;
            /*background-color: #d3e6ea;
            color: #CC988B;
            text-shadow: 0px -1px 1px rgba(50,61,64, 0.5);*/
            color: #A5A5A5;
            background-color: #E4E4E4;
            text-shadow: 0px 2px 1px #F1F1F1;
            margin-bottom: 20px !important;
        }

        .article-page {
            margin-left: 40px !important;
            width: 570px;
        }

        
    </style>
}
<header>
    <h1>@ViewBag.Title</h1>
</header>
<section class="article-page">
    <div id="articleContainer" class="article"></div>
</section>

@section Scripts{
    <script src="@Url.Content("~/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/views/articleClientSide.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/views/instrumentation.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var model = {"showIndexing":true,"status":0,"statusMessage":"","accessionNo":"J000000020120628e86s0002m","articleDisplayOption":"Full","ArticleDisplayOptions":0,"reference":"{&#34;guid&#34;:&#34;J000000020120628e86s0002m&#34;,&#34;contentCategory&#34;:2,&#34;contentSubCategory&#34;:9,&#34;contentCategoryDescriptor&#34;:&#34;Publication&#34;,&#34;contentSubCategoryDescriptor&#34;:&#34;Article&#34;,&#34;originalContentCategory&#34;:&#34;article&#34;,&#34;externalUri&#34;:&#34;&#34;,&#34;mimetype&#34;:&#34;text/xml&#34;}","head":[{"text":"J Logo","value":"http://global.factiva.com/FactivaLogos/jLogo.gif","imageSize":"Logo","hasLargeImage":false}],"headlines":[{"text":"Heard & Scene: Actor at Home on High","isHyperLink":false}],"hasHeadline":true,"renderDefaultPostProcessing":true,"PostProcessing":0,"showSourceLinks":true,"showAuthorLinks":true,"showSocialButtons":false,"showTranslator":false,"showPostProcessing":true,"sources":[{"entityData":"{&#34;fcode&#34;:&#34;J&#34;,&#34;name&#34;:&#34;The Wall Street Journal&#34;,&#34;category&#34;:&#34;source&#34;}","entityName":"The Wall Street Journal","entityCode":"J","isEntityLink":true}],"hasSources":true,"authors":[{"entityData":"{&#34;fcode&#34;:&#34;3433960&#34;,&#34;name&#34;:&#34;Mike Vilensky&#34;,&#34;category&#34;:&#34;author&#34;}","entityName":"Mike Vilensky"}],"renderAuthors":true,"credits":[],"hasCredits":false,"pages":["A26"],"hasPages":true,"corrections":[],"hasCorrections":false,"copyRights":["(Copyright (c) 2012, Dow Jones & Company, Inc.)  "],"hasCopyRights":true,"leadParagraphs":[{"items":[{"markupType":"Plain","text":"If the movie star Andrew Garfield weren't promoting his anticipated, big-budget action movie, &#34;The Amazing Spider-Man,&#34; he would be climbing Mount Kilimanjaro.","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"Plain","text":"Naturally.","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"}],"hasLeadParagraphs":true,"tailParagraphs":[{"items":[{"markupType":"Plain","text":"&#34;I wanted to [climb it] this year but this press tour came up!&#34; said Mr. Garfield, in the penthouse of the Royalton Hotel Tuesday evening. &#34;I like heights. I find heights quite fun and invigorating.&#34;","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"Plain","text":"The actor is an experienced rock-climber, he explained.","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"Plain","text":"So why not forgo the presstour altogether? Skip elevator rides to hotel rooms in favor of scaling the heights of Africa?","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"Plain","text":"&#34;I wish,&#34; Mr. Garfield said, laughing. &#34;I could send in body doubles and clones.&#34; Alas, he said, a reporter would be able to tell the difference.","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"Plain","text":"In addition to an aspiring Kilimanjaro conqueror, Mr. Garfield is now the &#34;ambassador of sport&#34; for Worldwide Orphans, a nonprofit run by Dr. Jane Aronson that seeks to improve the lives of orphaned children. (Spider-Man, in the famed comic books, was an orphan, after all, Dr. Aronson pointed out.)","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"Plain","text":"The actor seems to be good at an inordinate number of things. &#34;I used to be a gymnast, a swimmer, a football player, a rugby player and a cricket player,&#34; he recalled. &#34;It doesn't matter whether you win or lose, it's how you play the game -- but that's something I didn't learn growing up. I thought if I lost then I was nothing, which is absolutely wrong, I have realized.&#34;","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"Plain","text":"At the cocktail party for the organization, a gaggle of fans and Worldwide Orphans affiliates sipped honey-infused mixed drinks and picked at mac-n-cheese. If Mr. Garfield enjoys heights, he must have felt right at home on the top floor of the hotel, equipped with a balcony overlooking Midtown.","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"Plain","text":"Emma Stone, Mr. Garfield's &#34;Spider-Man&#34; co-star and reported girlfriend, turned heads in red heels, entering the room midway through the party. Though she declined to be interviewed, she gave Mr. Garfield a supportive kiss and gamely chatted up the Worldwide Orphans interns and employees.","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"Plain","text":"Mr. Garfield recalled his travels to Haiti and Ethiopia with Dr. Aronson, who founded World Wide Orphans in 1997.","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"Plain","text":"&#34;She taught me how to be a better human being,&#34; he said. &#34;To consider the world a community rather than individuals kicking each other in the teeth to be happy.&#34;","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"Plain","text":"But is there something the movie-star Andrew Garfield cannot do?","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"Plain","text":"Yes. Although he said he &#34;constantly needs to be challenged,&#34; he does have his limits. Asked if he has plans to climb Mount Everest -- because, why not? -- he drew the line.","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"Plain","text":"&#34;I read 'Into Thin Air,'&#34; he said. &#34;Jesus Christ!&#34;","value":"","title":"","elinkItems":[],"highlight":false}],"tag":"p"},{"items":[{"markupType":"ArticleElink","text":"http://www.djreprints.com/link/DJRFactiva.html?FACTIVA=wjco20120628000102","value":"http://www.djreprints.com/link/DJRFactiva.html?FACTIVA=wjco20120628000102","title":"","elinkItems":[],"highlight":false}],"tag":"p"}],"renderTailParagraphs":true,"notes":[],"hasNotes":false,"publicationDate":"28 June 2012","publicationTime":"12:00 AM","wordCount":458,"renderWordCount":true,"language":"${langEn}","Html":[]};
        </script>
    <script type="text/javascript">
        var timer = new Date().getTime();
        $(window).load(function () {
            DJ.$dj.debug('Article loaded in', new Date().getTime() - timer, 'ms');
        });
        $(function () {
            $('#articleContainer').text('fetching data...');
            console.time('Date fetched in');

            // 460k+ words - 'BTBW000020070531e35l000zc'
            var accn = 'J000000020120628e86s0002m';
            $.getJSON('http://montana.dev.us.factiva.com/oldshowcase/article2/' + accn, function(data){

                console.timeEnd('Date fetched in');
                $('#articleContainer').empty();

                DJ.add('Article2', {
                    container: "articleContainer",
                    options: {
                        instrument: true
                    },
                    data: data
                });
            });
            /*DJ.add('Article2', {
                container: "articleContainer",
                options: {
                    instrument: true
                },
                data: model
            });*/
        });

    </script>
}
