@inherits AbstractCanvasModuleEditor<Modules.ScriptModule.Editor.ScriptModuleEditor>
@ClientPlugin dj_ScriptModuleEditor
@ScriptResource RelativeResourceName=ScriptModuleEditor.js, DependsOn=AbstractCanvasModuleEditor
@{ CssClass += " dj_ScriptModuleEditor"; }

<input type="hidden" name="moduleId" value="@Model.ModuleId"/>
<input type="hidden" name="templateId" value="@Model.TemplateId"/>

<fieldset>
    <p>
        <label>@DJ.Token("columnSpan")</label>
        @for (int colSpan = Model.MinColumnSpan; colSpan <= Model.MaxColumnSpan; colSpan++)
        {
            var selected = Model.ColumnSpan == colSpan;
            <label class="radio inline">
                <input type="radio" name="columnSpan" class="columnSpan" value="@colSpan" @(selected ? "checked" : "")/>
                @colSpan
            </label>
        }
    </p>
    
    <p>
        <label>@DJ.Token("title")</label>
        <textarea name="title" class="title">@Model.Title</textarea>
    </p>
    
    @{ var i = 0; }
    @foreach(var option in Model.Options)
    {
        <p class="option">
            <label>@option.DisplayName</label>
            <input type="hidden" name="options[@(i)].Name" value="@option.Name" />
            <textarea name="options[@(i)].Value">@option.DefaultValue</textarea>
        </p>
                        
        i++;
    }
</fieldset>
