@using DowJones.Dash.Components.Models.ThemeManager
@{
    ViewBag.Title = "Dash - Executive Dashboard";
}

@section styles {
    <link href="~/Content/dashboard.css" rel="stylesheet" />
    <link href="~/Content/gallery.css" rel="stylesheet" />
    <link href="~/Content/browserShare.css" rel="stylesheet" />
    <link href="~/Content/concurrentVisits.css" rel="stylesheet" />
    <link href="~/Content/perfGauge.css" rel="stylesheet" />
    <link href="~/Content/topPages.css" rel="stylesheet" />
    <link href="~/Content/pageTimings.css" rel="stylesheet" />
}
<div id="watch-video-container" class="row-fluid">
    <div id="watch-video">
        <div id="watch-video-player">
            <div id="watch-player">
                <div class="module dj_module canvas-module script-module"
                    data-description="Average page load times, broken down by country">
                    <div class="module-header dj_module-header dj_module-handle" style="cursor: move;">
                        <h3 class="module-title dj_module-title">Page Load By Country
                        </h3>
                    </div>
                    <div class="module-core dj_module-core" style="">
                        <div class="dj_content dj_module-content module-content two-row" style="">
                            <div class="worldMapContainer"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="dashboard" class="row-fluid">

    @DJ.Render(Model)
</section>

@Html.Action("Gallery")

<div class="modal hide fade" id="worldViewModal" tabindex="-1" role="dialog" aria-labelledby="worldViewModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="worldViewModalLabel">Page Load By Country</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/dashboard.js")" type="text/javascript"></script>
    <script type="text/javascript">
        DJ.$dj.require(['$dj'], function ($dj) {
            var meta = { options: { moduleResizeUrl: '@Url.Content("~/dashboard/modules/resize/")' } };
            var activeTab = $('.dashNav li.active');
            var domain = { source: activeTab.data('source'), map: activeTab.data('map') };
            window['Dash'] = new DJ.UI.Dash($('body'), meta).start(domain);
        })();
    </script>
}