@{
    ViewBag.Title = "Demo Dashboard";
}

@section styles {
    <link href="~/Content/dashboard.css" rel="stylesheet" />
    <link href="~/Content/gallery.css" rel="stylesheet" />
    <link href="~/Content/browserShare.css" rel="stylesheet" />
    <link href="~/Content/concurrentVisits.css" rel="stylesheet" />
    <link href="~/Content/perfGauge.css" rel="stylesheet" />
    <link href="~/Content/topPages.css" rel="stylesheet" />
}

@section header {

<div class="trendTabsContainer">
    <div class="container">
        <ul class="trendTabs">
            <li class="defaultTab activeTab"><a href="#" title="online.wsj.com">WSJ</a></li>
            <li class="defaultTab"><a href="javascript:void(0)" title="marketwatch.com">Marketwatch</a></li>
            <li class="defaultTab"><a href="#dashAlert" title="online.wsj.com">WSJ: APAC</a></li>
            <li class="defaultTab"><a href="#dashAlert" title="jp.wsj.com">WSJ: JP</a></li>
            <li class="defaultTab"><a href="#dashAlert" title="factiva.com">Factiva</a></li>
            <li class="defaultTab"><a href="#dashAlert" title="smartmoney.com">SmartMoney</a></li>
            <li class="defaultTab"><a href="#dashAlert" title="online.barrons.com">Barrons</a></li>
            <li class="defaultTab pull-right"><a href="#module-gallery" role="button" data-toggle="modal"><i class="icon-cog icon-white"></i></a></li>
        </ul>
    </div>
</div>

}

<section id="dashboard" class="row-fluid">
    @DJ.Render(Model)
</section>

@Html.Action("Gallery")


@section scripts{
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

    <script type="text/javascript">
        
        @DJ.ScriptRegistry().OnDocumentReady("initializeDashboard();")
        function initializeDashboard() {
            $('.trendTabs li').not(':first').find('a')
                .popover({ content: 'Coming soon!', delay: { show: 1000, hide: 1000 } })
                .click(function () {
                    var self = this;
                    setTimeout(function () {
                        $(self).popover('hide');
                    }, 1000);
                });
            $('LI.defaultTab A').tooltip();

            var canvasId = DJ.UI.Canvas.find().get_canvasId();

            DJ.subscribe('resized.dj.CanvasModule', function (args) {
                var request = { pageId: canvasId, moduleId: args.moduleId };
                $.ajax('@Url.Content("~/dashboard/modules/resize/")' + args.newSize, { data: request });
            });

            initializeModuleStyles();
        }

        function initializeModuleStyles() {
            $('.small.module').addClass('span2');
            $('.medium.module').addClass('span4');
            $('.large.module').addClass('span6');
            $('.x-large.module').addClass('span8');

            $('.minimize').append($('<i class="icon-chevron-up"/>'));
            $('.maximize').append($('<i class="icon-chevron-down"/>'));
        }

        (function initializeTabs() {
            window._alert = window.alert;
            window.alert = function(msg) {
                $('#dashAlertModal .modal-body p').text(msg);
                $('#dashAlertModal').modal('show');
                return false;
            };
        })();

    </script>
}