@model DowJones.Web.Mvc.Search.ViewModels.SearchBuilderViewModel

@using System.Web.Configuration
@using DowJones.Web.Mvc.Extensions
@using DowJones.Web.Mvc.UI.Components.SearchBuilder
@using DowJones.Web.Mvc.UI.Components.Models

@{
    Layout = "../Search/_Layout.cshtml";
    ViewBag.Title = "";
    Html.DJ().ScriptRegistry()
        .Include("~/Content/js/ui.searchbuilder.js")
        .Include("~/Content/js/ui.searchcommon.js", performSubstitution: true)
        .OnDocumentReady("SearchBuilder.Init();");
}


<script type="text/javascript">
if (typeof (SearchBuilder) == 'undefined')
		SearchBuilder = {};

SearchBuilder.topicData = @Html.Raw(Model.TopicPropertiesJson);
SearchBuilder.alertData = @Html.Raw(Model.AlertPropertiesJson);
</script>


<div id="dashboard">
		<div id="dashboard-wrap" class="container_9 clearfix">
				<nav class="dj_navbar clearfix">
						<ul class="dj_breadcrumb">
						<li><a href="#">@Token("communicator")</a></li>
						<li class="current">@Token("cmSearchBuilder")</li>
					</ul>
				</nav>
				<div class="dj_search-nav">
						<ul class="clearfix">
								<li class="selected"><a href="@Url.Action("Index", "SearchBuilder")">@Token("searchBuilder")</a></li>
								<li><a href="@Url.Action("Author", "Screening")">@Token("AuthorLookUp")</a></li>
								<li><a href="@Url.Action("Outlet", "Screening")">@Token("OutletLookUp")</a></li>
						</ul>
				</div>
				<section class="dj_page dj_search-builder wrap-9">
						
						@DJ.Render(Model.SearchBuilder)
						
						<div class="dj_btn-group-lrg clearfix">
								<span id="sbSaveAs" class="dj_btn dj_btn-lrg dj_btn-gray dj_btn-rounded-square save-as_btn">
								@Token("saveAs")
								<span class="dj_btn-down-arrow"></span>
							</span>
								<span id="sbSearchbtn" class="dj_btn dj_btn-blue dj_btn-rounded-square no-margin">@Token("search")</span>
						</div>
				</section>
		</div>
</div>
<!-- Save As Menu -->
<div class="menu" id="sbSaveAsMenu" style="display:none;">
		<div class="menuitems">
				<div class="menuitem">
						<div class="label" data-saveas="saveAsTopic">@Token("saveAsTopic")</div>
				</div>
				<div class="menuitem">
						<div class="label" data-saveas="saveAsNewsAlert">@Token("saveAsNewsAlert")</div>
				</div>
				<div class="menuitem">
						<div class="label" data-saveas="saveAsAuthorAlert">@Token("saveAsAuthorAlert")</div>
				</div>
				<div class="menuitem">
						<div class="label" data-saveas="saveAsNewAuthorAlert">@Token("saveAsNewAuthorAlert")</div>
				</div>
		</div>
</div>
<!-- Save As Menu -->

<!-- Save As Topic -->
<div id="dvSaveAsTopic" style="display:none;" class="dj_modal dj_save-as-topic">
		<div class="dj_modal-header">
				<h3 id="dvSaveAsTopicTitle" class="dj_modal-title"></h3>
				<p class="dj_modal-close" onclick="$().overlay.hide('#dvSaveAsTopic');">
						<a href="javascript:void(0);"></a>
				</p>
		</div>
		<div class="dj_modal-content">
				<div class="dj_modal-content-wrap">
						<div class="modal-content">
								@DJ.Render(Model.TopicEditor)
						</div>
				</div>
		</div>
</div>
<!-- Save As Topic -->

<!-- Save As News Allert -->
<div id="dvSaveAsAlert" style="display:none;" class="dj_modal dj_save-as-alert">
		<div class="dj_modal-header">
				<h3 id="dvSaveAsAlertTitle" class="dj_modal-title"></h3>
				<p class="dj_modal-close" onclick="$().overlay.hide('#dvSaveAsAlert');">
						<a href="javascript:void(0);"></a>
				</p>
		</div>
		<div class="dj_modal-content">
				<div class="dj_modal-content-wrap">
						<div class="modal-content">
								@DJ.Render(Model.AlertEditor);
						</div>
				</div>
		</div>
</div>
<!-- Save As News Allert -->