@model Employee

@{ ViewBag.Title = "Employee Details: " + Model.FullName; }

	<p>
		@Html.LabelFor(x => x.FirstName):
		@Html.DisplayTextFor(x => x.FirstName)
	</p>

	<p>
		@Html.LabelFor(x => x.LastName):
		@Html.DisplayTextFor(x => x.LastName)
	</p>

	<p>
		@Html.LabelFor(x => x.Salary):
		@Html.DisplayTextFor(x => x.Salary)
	</p>

	<div>
		@Ajax.ActionLink("Edit", "Edit", "Ajax", new { Model.ID }, new AjaxOptions { UpdateTargetId = "employee-details-container" })
	</div>