@{ Layout = null; }

<div id="container"/>

<script type="text/javascript" src="@Url.Content("~/scripts/doT.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/common.js")"></script>

<script type="text/x-dot-template" id="successTemplate">  
<ul class="realtime-news">
    <%  var x, title, headlines = self.headlines, options = self.options;
        for (var i = 0, len = Math.min(headlines.length, options.maxNumHeadlinesToShow); i < len; i++) { 
            x = headlines[i]; 
            title = (options.showTruncatedTitle && $.trim(x.truncatedTitle)) || x.title;
    %>
    <li class="dj_entry">
        <h4 class="headline">
            <a class="article-view-trigger ellipsis" href="#">
                <% if (x.modificationTimeDescriptor) { %>
                    <span class="time-stamp"><%= x.modificationTimeDescriptor %></span>
                <% } %>
                <span class="headline-text"><%= title %></span>
             </a>
        </h4>
        <% if (x.snippets && (options.displaySnippets === 1 || (options.displaySnippets === 2 && i === 0))) {  
            for (var j = 0, cnt = x.snippets.length; j < cnt; j++) { %>
                <p class="article-snip">
                    <span class="dj_text" rel=""><%= x.snippets[j] %></span>
                </p>
        <%  } } %>
    </li>
    <% } %> 
</ul>
</script>

<script type="text/javascript">
    var $ = DJ.jQuery, _ = DJ.underscore;
    doT.templateSettings = {
        evaluate: /\<\%([\s\S]+?)\%\>/g,
        interpolate: /\<\%=([\s\S]+?)\%\>/g,
        varname: 'self',
        strip: true
    }; 
    var doTCompiledTemplateFunction = doT.template($('#successTemplate').html());

    DJ.$dj.loadStylesheet('@Url.Content("~/styles/views/PortalHeadlineList/PortalHeadlineList.css")');
    DJ.$dj.loadStylesheet('@Url.Content("~/styles/normalizeExtensions.css")');
    DJ.$dj.loadStylesheet('@Url.Content("~/styles/site.css")');

    $.ajax('@Url.Content("~/platformproxy.asmx")?url=http://online.wsj.com/xml/rss/3_7011.xml')
    .success(function (rss) {
        var items = $('item', rss);

        var model = {
            resultSet: {
                count: { value: items.length },
                headlines: _.map(items, function (item) {
                    return {
                        "title": $('title', item).text(),
                        "reference": { "guid": $('link', item).text() },
                        "snippets": [$('description', item).text()]
                    };
                })
            }
        };

        DJ.add('PortalHeadlineList', {
            container: 'container',
            data: model,
            options: {
                maxNumHeadlinesToShow: items.length,
                displaySnippets: 1
            },
            eventHandlers: {
                "headlineClick.dj.PortalHeadlineList": function (data) {
                    window.open(data.headline.reference.guid);
                }
            },
            templates: {
                successHeadline: doTCompiledTemplateFunction
            }
        });
    });
</script>
