@using DowJones.Web.Mvc.UI.Components.TopicEditor
@model DowJones.Web.Mvc.Search.Results.SearchResultsViewModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Results";
}

<script type="text/javascript">

    $(function () {
        $dj.subscribe('advancedSearch.dj.SearchBuilder', function (args) {
            var url = '/SearchBuilder';
            $('#searchBuilderForm').clone().attr('action', url).submit();
        });
    });

</script>

<div id="dashboard" class="ui-sortable">

    <div id="dashboard-wrap" class="container_9 clearfix">

        <nav class="dj_navbar clearfix">
			<ul class="dj_breadcrumb">
                <li><a href="#">@DJ.Token("communicator")</a></li>
                <li class="current">@DJ.Token("searchResults")</li>
			</ul>
		</nav>

        <section class="dj_page dj_search-results dj_search-default js_search-results @Model.Layout.ToString().ToLower()-view">

			<form id="searchBuilderForm" method="post">
				@DJ.Render(Model.SearchBuilder)
			</form>

			<form id="searchResultsForm" method="post">

			@DJ.Render(Model.Filters)

            @if (Model.HasResults)
            {
                if (Model.CompanyProfiles != null && Model.CompanyProfiles.Companies != null && Model.CompanyProfiles.Companies.Any())
                {
				            @DJ.Render(Model.CompanyProfiles)
                }
	
            <div class="dj_search-content columns clearfix">
						
	            <div class="column drill">

		            @DJ.Render(Model.Navigator)

	            </div><!-- end: .column drill -->
		
	            <div class="column main">
		            
                    @DJ.Render(Model.Results)

	            </div><!-- end: .column main -->
		
            </div><!-- end: .dj_search-content -->
            }
            else
            {
			    <div class="noResults">@DJ.Token("noSearchResults")</div>
            }
			</form>					
				
		</section>
    </div>
</div>


<!-- Save As Topic -->
<div id="dvSaveAsTopic" style="display: none;" class="dj_modal dj_save-as-topic">
    <div class="dj_modal-header">
        <h3 id="dvSaveAsTopicTitle" class="dj_modal-title">
        </h3>
        <p class="dj_modal-close" onclick="$().overlay.hide('#dvSaveAsTopic');">
            <a href="javascript:void(0);"></a>
        </p>
    </div>
    <div class="dj_modal-content">
        <div class="dj_modal-content-wrap">
            <div class="modal-content">
                @DJ.Render(new TopicEditorModel())
            </div>
        </div>
    </div>
</div>

<!-- Save As Topic -->
<div id="divEmailArticle" class="emailPopup" style="display: none;">
    <div id="emailArticleContent">
        <div class="articleEmailPopup">
            <p class="termOfUseMsg">
                @Html.DJ().Token("emailRedistribution-1")
                <a onclick="return DJGlobal.NewWindow({url:'', windowName:'TermOfUseWindow'});"
                    href="javascript:void(0)">@Html.DJ().Token("emailRedistribution-2")</a>.
            </p>
            <span class="seperator"></span><span class="label">
                <label for="iea">
                    @Html.DJ().Token("recipientEmail"):
                </label>
            </span>
            <br>
            <span class="control">
                <input type="text" id="iea" maxlength="80" name="iea" /></span><br />
            <span class="seperator"></span><span class="label">
                <label for="irta">
                    @Html.DJ().Token("replyToEmail"):
                </label>
            </span>
            <br />
            <span class="control">
                <input type="text" id="irta" maxlength="80" name="irta" /></span><br />
            <span class="seperator"></span><span class="label">
                <label for="iefn">
                    @Html.DJ().Token("emailFromName"):
                </label>
            </span>
            <br />
            <span class="control">
                <input type="text" id="iefn" maxlength="50" name="iefn" /></span><br />
            <span class="seperator"></span><span class="label">
                <label for="iet">
                    @Html.DJ().Token("addMessage"):
                </label>
            </span>
            <br />
            <span class="control">
                <textarea rows="5" id="iet" name="iet"></textarea></span><br />
            <span class="seperator"></span><span class="label">
                <label for="ief">
                    @Html.DJ().Token("emailOutput"):
                </label>
            </span>
            <br />
            <span class="control">
                <select id="ief" name="ief">
                    <option value="HTML" selected="selected">@Html.DJ().Token("html")</option>
                    <option value="ASCII">@Html.DJ().Token("plainText")</option>
                </select></span><br>
            <span class="seperator"></span>
            <div class="button">
                <ul class="dc_list">
                    <li class="dc_item"><a class="dashboard-control dc_btn dc_btn-1" onclick="return SearchResults.sendEmail();"
                        href="javascript:void(0);">@Html.DJ().Token("send")</a> </li>
                    <li class="dc_item"><a class="dashboard-control dc_btn dc_btn-3" onclick="return SearchResults.closeEmailPopup();"
                        href="javascript:void(0);">@Html.DJ().Token("cancel")</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="emailSentMsg">
    </div>
</div>
