@using System.Text;
@using System.Collections.Generic;
@using DowJones.Infrastructure;
@using DowJones.Extensions;
@using DowJones.Ajax.Article;
@using DowJones.Web.Mvc.UI.Components.Article;
@using Factiva.Gateway.Messages.Archive.V2_0;
@using System.Text.RegularExpressions;
@model DowJones.Web.Mvc.UI.Components.Models.Article.ParagraphModel
@{
    TagName = Model.TagName.IsNullOrEmpty() ? "p" : Model.TagName;
    CssClass = Model.ClassName;
}

@foreach(IRenderItem renderItem in Model.Items)
{
    if( renderItem.ItemMarkUp == MarkUpType.ArticleHighlight )
    {<span class="dj_article_highlight">@(renderItem.ItemText)</span>}
    else if( renderItem.ItemMarkUp == MarkUpType.Image )
    {<img alt="" src="@(renderItem.ItemValue)" />}
    else if( renderItem.ItemMarkUp == MarkUpType.PostProcessing )
    {
        switch( renderItem.ItemPostProcessData.Type )
        {
            case PostProcessing.Print:<span class='dj_article_colorLinks'>@(renderItem.ItemPostProcessData.ElinkValue) [@(renderItem.ItemPostProcessData.ElinkText)]</span>
            break;
            case PostProcessing.Save:@(renderItem.ItemPostProcessData.ElinkValue) @(renderItem.ItemPostProcessData.ElinkText)
            break;
        }
    }
    else if(renderItem.ItemMarkUp == MarkUpType.ArticleElink)
    {<a class="dj_article_elink" href="javascript:void(0)" data-href="@renderItem.ItemValue.EscapeForHtml()">@(renderItem.ItemText)</a>}
    else if(renderItem.ItemMarkUp == MarkUpType.Plain )
    {@(renderItem.ItemText)}
    else if (renderItem.ItemMarkUp == MarkUpType.EntityLink && renderItem.Highlight)
    {<a class="dj_article_entity dj_article_highlight @renderItem.ItemEntityData.Category" href="javascript:void(0);" data-entity="@renderItem.ItemEntityData.ToJson().EscapeForHtml()">@(renderItem.ItemText)</a>}
    else if (renderItem.ItemMarkUp == MarkUpType.EntityLink)
    {<a class="dj_article_entity @renderItem.ItemEntityData.Category" href="javascript:void(0);" data-entity="@renderItem.ItemEntityData.ToJson().EscapeForHtml()">@(renderItem.ItemText)</a>}
    else if (renderItem.ItemMarkUp == MarkUpType.SpanAnchor)
    {<span><a class="dj_article_entity" href="javascript:void(0);" data-entity="@(renderItem.ItemEntityData.ToJson().EscapeForHtml())">@(renderItem.ItemEntityData.Name)</a></span>}
    else if (renderItem.ItemMarkUp == MarkUpType.Anchor)
    {<span><a class="dj_article_anchor" href="javascript:void(0);" data-href="@(renderItem.ItemValue.EscapeForHtml())">@(renderItem.ItemText)</a></span>}
}     