@model DowJones.Web.Mvc.UI.Components.AutoSuggest.AutoSuggestModel
@using System.Configuration

@{
    ViewBag.Title = "AutoSuggest";
    Layout = null;
}
<style type="text/css">
    body { font: 12px/18px "Lucida Grande" , "Lucida Sans Unicode" , Helvetica, Arial, Verdana, sans-serif; }
    .suggest-table { margin: 10px; }
    .suggest-table tr td { height: 30px; line-height: 30px; }
    .AutoSuggestComponent{margin-left:10px; width: 300px;}
</style>

@*<table class="suggest-table">
    @foreach (var mdl in Model)
    { 
        <tr>
            <td>@mdl.AutocompletionType
            </td>
            <td>@Html.DJ().Render(mdl, new { id = mdl.ControlId })
            </td>
        </tr>
    }
</table>*@

    <link href="@Url.Content("~/styles/css/AutoSuggest/AutoSuggest.css")" rel="stylesheet" />

    <!-- required file! DJ.add won't work without "common.js" being available -->

    <script src="@Url.Content("~/common.js")" type="text/javascript"></script>

<div id="autoSuggestContainer">
</div>


<script type="text/javascript">
    var authTypeToken = '@ConfigurationManager.AppSettings["SuggestAuthTypeToken"]';
    var suggestServiceURl = '@ConfigurationManager.AppSettings["SuggestServiceUrl"]';

    DJ.add("AutoSuggest", {
        container: "autoSuggestContainer",
        options: { 
            suggestServiceUrl: suggestServiceURl,
            autocompletionType: "Categories",
            controlId: "djKeywordAutoSuggest",
            authType: "SuggestContext",
            authTypeValue: '2sPxdr_2BLo1WolUv5QpbUMuU0CaVVaIvFi4RYEGYcRg0grVicD2t5M8BHY7IL3sggsbFZVZ0bpFKaQYA9xVBANtXHFUCzuOFQ|2',
            selectFirst: false,
            showViewAll: false,
            maxLength: 1000,
            fillInputOnKeyUpDown: true,
            eraseInputOnItemSelect: true,
            includeCompanyScreening: true,
            showHelp: false,
            showSearchText: true,
            serviceOptions: {
                maxResults: 3,
                interfaceLanguage: 'en',
                categories: 'company|executive|newssubject|keyword', //'|region_all|region_country|region_subSupraNationalRegion|region_stateOrProvince|industry|industry_nace|industry_sic|industry_naics',
                it: 'stock',
                companyFilterSet: 'newsCodedAbt|newsCodedOccr|noADR',
                executiveFilterSet: 'newsCoded',
                showMatchingWord: 'true'
            }
        }
    }); 
    </script>