@{
    DJ.StylesheetRegistry()
        .Include("~/content/site.css", ClientResourceDependencyLevel.Global);
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <script type="text/javascript">
    var DJ = { config: { debug: true } };
    </script>
    
    @DJ.ScriptRegistry().RenderHead()
    @DJ.StylesheetRegistry().RenderHead()
</head>
<body>

    @RenderBody()
    
    @DJ.StylesheetRegistry().Render() 
    @DJ.ScriptRegistry().Render()
</body>
</html>
