<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@Styles.Render("~/bundles/styles/core")
    @RenderSection("styles", false)
    
    <!-- required file! DJ.add won't work without "common.js" being available -->
    <script src="@Url.Content("~/common.js")" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>
