@{
    DJ.StylesheetRegistry()
        .Include("~/content/site.css", ClientResourceDependencyLevel.Global)
        .Include("~/content/isotope.css", ClientResourceDependencyLevel.Global);
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <script type="text/javascript">
        var DJ = { config: { debug: true } };
    </script>
    
    @DJ.ScriptRegistry().RenderHead()

    <script type="text/javascript">
        jQuery = $ = DJ.jQuery, _ = DJ.underscore;
    </script>

    @DJ.StylesheetRegistry().RenderHead()
    <style>
        body {
            min-height: 800px;
        }
        .dj_Canvas {
            position: relative;
        }
        .dj_module {
            float: left;
            width: 250px;
            min-height: 200px;
            margin: 10px;
        }
    </style>
</head>
<body>
    
    <header>
        <h1>PAM-less Dashboards Demo</h1>
    </header>

    @RenderBody()
    
    @DJ.StylesheetRegistry().Render() 
    @DJ.ScriptRegistry().Render()
    
</body>
</html>
