@{
    DJ.ScriptRegistry()
        .Include("~/Scripts/dashboard.js", ClientResourceDependencyLevel.Global)
        .WithJQueryUIWidgets();
        
    DJ.StylesheetRegistry()
        .Include("~/content/site.css", ClientResourceDependencyLevel.Global)
        .Include("~/content/isotope.css", ClientResourceDependencyLevel.Global)
        .Include("~/content/dashboard.css", ClientResourceDependencyLevel.Global);
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <script type="text/javascript">
        var DJ = {
            config: { debug: true },
            Dashboards: { EditorsUrl: '@Url.Action("Editors", "Pages")/' }
        };
    </script>
    
    @DJ.ScriptRegistry().RenderHead()

    <script type="text/javascript">
        jQuery = $ = DJ.jQuery, _ = DJ.underscore;
    </script>

    @DJ.StylesheetRegistry().RenderHead()
</head>
<body>
    
    <header>
        <h1>Dow Jones UI :: Dashboards</h1>
    </header>

    @RenderBody()
    
    @DJ.StylesheetRegistry().Render() 
    @DJ.ScriptRegistry().Render()
    
</body>
</html>
