@using DowJones.Web.Mvc.UI.Components.TranslateArticle;

@{
    ViewBag.Title = "Article Translator";
}

@*
accession number = @Request["accessionnumber"].ToString() <br />
source language = @Request["sourcelanguage"].ToString()<br />
target language = @Request["targetlanguage"].ToString()<br />
target language code = @Request["targetlanguagecode"].ToString()
*@

<div id="djshowcase_header_wrapper">
    <div id="djshowcase_content">
        <div id="content_panel">
            <div></div>
            <div id="column_doc_left">
                <div class="grid_4">
                    <div>
                        <div>
                            <div class="code ui-code ui-widget ui-widget-content ui-corner-all" style="float: left;
                                margin-top: 2px;">
                                <div class="codetitle ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                    <span class="bold">Article translator control</span>
                                </div>
                                <div id="DemoPan_TranslateTest">
                                    @Html.DJ().Render(Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="column_doc_right"></div>
            <div class="cleaner"></div>
        </div>
    </div>
</div>
@Html.DJ().StylesheetRegistry().Include("~/Content/css/TranslateArticle.css")
@Html.DJ().StylesheetRegistry().Include("~/Content/css/base.css")
@Html.DJ().ScriptRegistry().WithJQueryUIEffects()
@Html.DJ().ScriptRegistry().WithJQueryUIWidgets()