@model DowJones.Factiva.Currents.Website.Models.HeadlinePreview
@using System.Linq;
@using DowJones.Ajax.HeadlineList

@{
	ViewBag.Title = Model == null ? "Headline info" : Model.Headline.Title;
}


<section id="headlines">
    @if (Model == null)
    {
        <h4>Headline info not available at this point of time.</h4>
        <div>Accession #: @ViewBag.AccessionNumber</div>
     
    }
    else
    {
        <div class="article-group article-wrap">

            <h4 class="dj_article_hd dj_article_section headline">
                @Model.Headline.Title
            </h4>
            <span class="dj_article_sn dj_article_section">
                <span class="article-source">@Model.Headline.SourceDescriptor </span>
            </span>
            <div>
                <span class="dj_article_by dj_article_section">
                    @if (Model.Headline.CodedAuthors != null)
                    {
                        <span class="author">@string.Join(",", Model.Headline.Authors)</span>
                    }
                </span>
            </div>
            <div>
                <span class="date-stamp dj_article_pd dj_article_section">
                    <span class="date-stamp">@Model.FormattedDateTime(@Model.Headline)</span>
                </span>
            </div>
            <div>
                <span class="dj_article_wc dj_article_section">
                    @*TODO @Model.Headline.WordCountDescriptor*@
                    @Model.Headline.WordCount.Value words
                </span>
            </div>
            <div>
                <span class="dj_article_la dj_article_section">
                     @* TODO @Model.Headline.BaseLanguageDescriptor *@
                    English
                </span>
            </div>
            <div>
                <span class="dj_article_sc dj_article_section">
                    @Model.Headline.SourceCode.ToUpper()
                </span>
            </div>
             <div>
                <span class="dj_article_by dj_article_section">
                    @if (Model.Headline.CopyRight != null && Model.Headline.CopyRight.Count > 0)
                    {
                        string copyRight = string.Empty;
                        foreach (string item in  Model.Headline.CopyRight)
                        {
                            copyRight = copyRight.IsNullOrEmpty() ? item : string.Join(copyRight, ",", item);
                        }
                        <span class="copyright">
                            @copyRight
                        </span>
                    }
                </span>
            </div>
            <br />
            <span class="dj_article_lp dj_article_section">
                @Model.Headline.Snippets.FirstOrDefault()
            </span>
        </div>

        
    }
	
    <hr />

    @Html.Partial("_LoginPartial")

</section>
<hr />
