@using DowJones.Web.Mvc.UI.Components.Quote
@using DowJones.Web.Mvc.UI.Components.TagCloud
@using DowJones.Web.Mvc.UI.Canvas.Editors.CompanyOverview
@using DowJones.Web.Mvc.UI.Canvas.Properties
@using DowJones.Web.Mvc.UI.Components.Pager
@using DowJones.Web.Mvc.UI.Components.PortalHeadlineList
@using DowJones.Web.Mvc.UI.Components.NewsChart
@using DowJones.Web.Mvc.Extensions
@inherits DowJones.Web.Mvc.UI.Canvas.AbstractCanvasModule<DowJones.Web.Mvc.UI.Canvas.Models.CompanyOverviewModule>
              
@ClientPlugin dj_CompanyOverviewCanvasModule
@ScriptResource RelativeResourceName=CompanyOverviewCanvasModule.js, PerformSubstition=true
@StylesheetResource RelativeResourceName=CompanyOverviewCanvasModule.css

@{ 
    CssClass = CssClass + " dj_CompanyOverviewCanvasModule dj_module-company";
    Html.DJ().ScriptRegistry().WithJQueryUIWidgets();
    Html.DJ().ScriptRegistry().WithHighCharts();
}

@section ContentArea {
    @* Main module content *@
    <script type="text/javascript">
        //Temp Code
        function Token(str) {
            return str;
        }
        //Temp Code
    </script>
	<div style="display:none;" class="company-chart-row module-row three-col no-bottom-padding clearfix">
        <div class="module-col three-thirds"><div class="module-col-wrap">
                @(CreateChildControl<NewsChartControl>(
                    new DowJones.Web.Mvc.UI.Components.Models.NewsChartModel()
                    {
                        GraphHeight = 300,
                        GraphWidth = 987,
                        NewsSeriesTitle = Html.DJ().Token("newsVolume").ToString(),
                        StockSeriesTitle = Html.DJ().Token("stockPriceToken").ToString()
                    })
                )
        </div></div>
    </div><!-- end: .company-chart-row -->

    <div class="company-snapshot-row module-row no-top-padding clearfix">
        <div class="company-snapshot-col module-col one-third first-col">
            <div class="module-col-wrap standard-padding">
                <h4 class="module-col-title">
                    @Html.DJ().Token("companyProfile")
                </h4>
                <p class="snapshot-datetime"></p>
                <div>
                <div class="dj_module-company-snapshot">

                <ul class="dj_module-company-snapshot-tabs clearfix">
                    <li><a href="#dj_market-data-module@(Module.ModuleId)" title="@Html.DJ().Token("currentPriceToken")">@Html.DJ().Token("currentPriceToken")</a></li>
                    <li><a href="#dj_analysis-reports@(Module.ModuleId)" title="@Html.DJ().Token("analystReports")">@Html.DJ().Token("analystReports")</a></li>
                    <li><a href="#dj_executives@(Module.ModuleId)" title="@Html.DJ().Token("executives")">@Html.DJ().Token("executives")</a></li>
                </ul>

                    <div id="dj_market-data-module@(Module.ModuleId)" class="ui-tabs-hide dj_market-data dj_module-company-snapshot-content">
                    @(CreateChildControl<QuoteControl>(
                        new DowJones.Web.Mvc.UI.Components.Models.QuoteModel() { })
                    )
                </div>

                <div id="dj_analysis-reports@(Module.ModuleId)" class="ui-tabs-hide dj_analysis-reports dj_module-company-snapshot-content">

                    <h5 class="analysis-report-source">Investext Select</h5>
                    @(CreateChildControl<PortalHeadlineListControl>(
                        new DowJones.Web.Mvc.UI.Components.Models.PortalHeadlineListModel() { 
                            MaxNumHeadlinesToShow = Model.MaxResultsToReturn, DisplayNoResultsToken=true
                        })
                    )                                
                    <h5 class="analysis-report-source">Zacks Investment Research</h5>

                    @(CreateChildControl<PortalHeadlineListControl>(
                        new DowJones.Web.Mvc.UI.Components.Models.PortalHeadlineListModel() { 
                            MaxNumHeadlinesToShow = Model.MaxResultsToReturn, DisplayNoResultsToken=true
                        })
                    )
            
                    <h5 class="analysis-report-source">Data Monitor Company Profiles</h5>
                    @(CreateChildControl<PortalHeadlineListControl>(
                        new DowJones.Web.Mvc.UI.Components.Models.PortalHeadlineListModel() { 
                            MaxNumHeadlinesToShow = Model.MaxResultsToReturn, DisplayNoResultsToken=true
                        })
                    )

                </div><!-- end: .dj_analysis-reports -->

                <div id="dj_executives@(Module.ModuleId)" class="dj_company-executives dj_module-company-snapshot-content">
                    <div></div>
                </div>

                </div>
                </div><!-- end: .dj_module-company-snapshot -->
                <div class="company-snapshot-error"></div>
            </div>
        </div><!-- end: .company-snapshot-col -->
                    
        <div class="trending-chart-col module-col one-third" style="position: relative;">
            <div class="module-col-wrap standard-padding" style="min-height: 339px;display:none;">
                <h4 class="module-col-title">
                    @Html.DJ().Token("keywords")
                    @*<a href="#">Keywords</a>*@
                </h4>
                <div class="trending-chart dj-bubblechart">
                    @(CreateChildControl<TagCloud>(
                        new DowJones.Web.Mvc.UI.Components.Models.TagCloudModel() { EnableEventFiring=true})
                    )
                </div>
            </div>          
        </div>
        <div class="article-group-col module-col one-third" style="position: relative;">
            <div class="module-col-wrap standard-padding" style="min-height: 339px;display:none;">
                <div class="article-group">
                    <h4 class="module-col-title">
                        @Html.DJ().Token("recentArticles")
                        @*<a href="#">Recent Articles</a>*@
                    </h4>
                    @(CreateChildControl<PortalHeadlineListControl>(
                        new DowJones.Web.Mvc.UI.Components.Models.PortalHeadlineListModel() { 
                            MaxNumHeadlinesToShow = Model.MaxResultsToReturn, DisplayNoResultsToken=true
                        })
                    )
                    <ul class="dc_list view-all-btn">
                        <li class="dc_item">
                            <a style="display:none;" class="dashboard-control dc_btn dc_btn-1" href="javascript:void(0);">@Html.DJ().Token("viewAll")</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="no-results" style="display:none;">
        @Html.DJ().Token("noResults")
    </div>
}

@section OptionsArea {
    @* Module options *@
}

@section InfoArea {
    @* Module Information *@
}

@section EditArea {
    @(CreateChildControl<CompanyOverviewModuleEditor>(Model.Editor))
}

@section MessageArea {
    @* Module Status and Error Messages *@
}

@section LoadingArea {
    @* Section shown while module data is loading *@
}
