@using System.Configuration
@model DowJones.Web.Mvc.UI.Components.AutoSuggest.AutoSuggestModel
@{
    ViewBag.Title = "AutoSuggest Demo";
}
@*@section styles{
    <style type="text/css">
        body { font: 12px/18px "Lucida Grande" , "Lucida Sans Unicode" , Helvetica, Arial, Verdana, sans-serif; }
        .suggest-table { margin: 10px; }
        .suggest-table tr td { height: 30px; line-height: 30px; }
        .AutoSuggestComponent { margin-left: 10px; width: 300px; }
    </style>
}
<table class="suggest-table">
    <tr>
        <td>@Model.AutocompletionType
        </td>
        <td>@DJ.Render(Model, new { id = Model.ControlId })
        </td>
    </tr>
</table>*@

@section styles{
    <link href="@Url.Content("~/styles/views/AutoSuggest/AutoSuggest.css")" rel="stylesheet" />
}

<div id="autoSuggestContainer"></div>

@section scripts{
<script type="text/javascript">
    var authTypeToken = "@ConfigurationManager.AppSettings["SuggestAuthTypeToken"]";
    var suggestServiceURl = "@ConfigurationManager.AppSettings["SuggestServiceUrl"]";

    DJ.add("AutoSuggest", {
        container: "autoSuggestContainer",
        options: { 
            suggestServiceUrl: suggestServiceURl,
            autocompletionType: "Keyword",
            controlId: "djKeywordAutoSuggest",
            authType: "SuggestContext",
            authTypeValue: authTypeToken,            
            selectFirst: true,
            fillInputOnKeyUpDown: true,
            showHelp: false,
            showViewAll: false
        }
    }); 
</script>
}  