@{
	Html.DJ().StylesheetRegistry()
		.Include("~/styles/css/normalize.css", ClientResourceDependencyLevel.Global)
		.Include("~/styles/css/normalizeExtensions.css", ClientResourceDependencyLevel.Global);
}
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<script type="text/javascript">
		var DJ = { config: { debug: true} };
	</script>
	@Html.DJ().ScriptRegistry().RenderHead()
	@Html.DJ().StylesheetRegistry().RenderHead()
	<script type="text/javascript">
		var $dj = DJ.$dj;
	</script>
</head>
<body>
	<div id="djshowcase_content_wrapper">
		@RenderBody()
	</div>
	@Html.DJ().StylesheetRegistry().Render()
	@Html.DJ().ScriptRegistry().Render()
</body>
</html>
