@model PageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dow Jones Component Explorer :: " + Model.Category.DisplayName + " > " + Model.DisplayName;
}
@helper RenderMenuItems(ContentSectionViewModel contentSection) {
    if (contentSection.HasChildren) {
        <li class="nav-header">@contentSection.DisplayName</li>   
    }
    else if (contentSection.Key != "overview")
    {
        <li><a href="#@contentSection.Key">@contentSection.DisplayName</a></li>
    }
    foreach (var child in contentSection.Children) {
        @RenderMenuItems(child)
    }
}
@helper RenderSection(ContentSectionViewModel contentSection) {
    <section class="content row-fluid @(contentSection.Key != "livedemo" ? "collapsible" : "")" id="@contentSection.Key">
        
    @if(contentSection.HasChildren) {
        <h2>@contentSection.DisplayName</h2>
        
        foreach(var child in contentSection.Children) {
            @RenderSection(child)
        }
    }
    else {
        if(contentSection.Key != "overview") {
            <h3>@contentSection.DisplayName</h3>
        }
            <div>
            @Html.DocumentationSection(contentSection)
        </div>
    }
        
    </section>
}
@section styles {
    @Styles.Render("~/bundles/syntaxhighlighter-css")
}

<div class="container-fluid">
    <div class="row-fluid">
        <div id="explorerArea">
            <div class="span2">
            @if (Model.HasChildren)
            {
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        @foreach (var child in Model.Children)
                        {
                            @RenderMenuItems(child)
                        }
                    </ul>
                </div>
                <!--/.well -->
            }
            </div>
        </div>
        <div class="span10 contentWell">
            <div class="row-fluid">
                <header class="span12">
                    <h2 class="pull-left">@Model.DisplayName</h2>
                    <div class="pull-right">
                        <a href="?mode=server">ASP.NET MVC</a> | <a href="?mode=client">JavaScript</a>
                    </div>
                </header>
            </div>
            <div class="content">
                @if (!Model.HasChildren)
                {
                    @Html.DocumentationPage()
                }
                @foreach(var child in Model.Children) {
                    @RenderSection(child)
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/syntaxhighlighter-js")
    @Scripts.Render("~/bundles/explorer")
}
