@model DocumentationPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dow Jones Component Explorer :: " + Model.Category.DisplayName + " > " + Model.DisplayName;
}
@section styles {
    @Styles.Render("~/bundles/syntaxhighlighter-css")
}

<div class="container-fluid">
    <div class="row-fluid">
        <div id="explorerArea">
            <div class="span2">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        @if (Model.HasSections)
                        {
                            <li class="nav-header">learn</li>
                            foreach (var pageSection in Model.Sections)
                            {
                            <li><a href="#@pageSection.Name">@pageSection.DisplayName</a></li>
                            }

                            <li class="nav-header">interact</li>
                            <li><a href="#interactOptions">Options</a></li>
                            <li><a href="#interactEvents">Events</a></li>
                            <li><a href="#templates">Templates</a></li>
                        }

                        <li class="nav-header">act</li>
                        <li><a href="#sampleCode">Get Sample Code</a></li>
                        <li><a href="#help">Get more help</a></li>
                        <li><a href="#feedback">Send Feedback</a></li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
        </div>
        <div class="span10 contentWell">
            <div class="row-fluid">
                <header class="span12">
                    <h2 class="pull-left">@Model.DisplayName</h2>
                    <div class="pull-right">
                        <span class="">Show Code Examples in: </span>
                        <a href="#">ASP.NET MVC</a> | <a>JavaScript</a>
                    </div>
                </header>
            </div>
            <div class="content">
                @if (!Model.HasSections)
                {
                    @Html.DocumentationPage()
                }
                @foreach (var pageSection in Model.Sections)
                {
                    <section class="row-fluid @(pageSection.Name != "livedemo" ? "collapsible" : "")" id="@pageSection.Name">
                        <h3>@pageSection.DisplayName</h3>
                        <div>
                            @Html.DocumentationSection(@pageSection.Name)
                        </div>
                    </section>
                }

                <section class="row-fluid collapsible" id="interactOptions">
                </section>
                <section class="row-fluid collapsible" id="interactEvents">
                </section>
                <section class="row-fluid collapsible" id="templates">
                </section>
                <section class="row-fluid collapsible" id="sampleCode">
                </section>
                <section class="row-fluid collapsible" id="help">
                </section>
                <section class="row-fluid collapsible" id="feedback">
                </section>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/syntaxhighlighter-js")
    @Scripts.Render("~/bundles/explorer")
}
