@model PageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dow Jones Component Explorer :: " + Model.Category.DisplayName + " > " + Model.DisplayName;
}
@section styles {
    @Styles.Render("~/bundles/syntaxhighlighter-css")
}

<div class="container-fluid">
    <div class="row-fluid">
        <div id="explorerArea">
            <div class="span2">
            @if (Model.HasChildren)
            {
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">learn</li>
                        @foreach (var pageSection in Model.Children)
                        {
                        <li><a href="#@pageSection.Key">@pageSection.DisplayName</a></li>
                        }
                    </ul>
                </div>
                <!--/.well -->
            }
            </div>
        </div>
        <div class="span10 contentWell">
            <div class="row-fluid">
                <header class="span12">
                    <h2 class="pull-left">@Model.DisplayName</h2>
                    <div class="pull-right">
                        <a href="#">ASP.NET MVC</a> | <a>JavaScript</a>
                    </div>
                </header>
            </div>
            <div class="content">
                @if (!Model.HasChildren)
                {
                    @Html.DocumentationPage()
                }
                @foreach (var pageSection in Model.Children)
                {
                    <section class="row-fluid @(pageSection.Key != "livedemo" ? "collapsible" : "")" id="@pageSection.Key">
                        <h3>@pageSection.DisplayName</h3>
                        <div>
                            @Html.DocumentationSection(pageSection)
                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/syntaxhighlighter-js")
    @Scripts.Render("~/bundles/explorer")
}
