@model PageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dow Jones Component Explorer :: " + Model.Category.DisplayName + " > " + Model.DisplayName;
}
@helper RenderMenuItems(ContentSectionViewModel contentSection, int level = 0) {
     <li class="@(level > 0 ? "child":"")"><a href="#@contentSection.AnchorId">@contentSection.DisplayName</a></li>
}
@helper RenderSection(ContentSectionViewModel contentSection, int level = 0) {
    <section id="@contentSection.AnchorId" class="span11 level-@level @(contentSection.Collapsible ? "collapsible" : "") @(contentSection.Selected ? "selected" : "")">
        
    @if(contentSection.ShowHeader)
    {
        <h3>@contentSection.DisplayName</h3>
    }

    <div>
    @if(contentSection.HasChildren) {
        <div class="child-links well">
            @foreach(var child in contentSection.Children)
            {
                <a class="child-link @(contentSection.Selected ? "selected" : "")" href="#@child.AnchorId">@child.DisplayName</a>
            }
        </div>
        
        foreach(var child in contentSection.Children) {
            @RenderSection(child, level+1)
        }
    }
    else {
        @Html.DocumentationSection(contentSection)
    }
    </div>
        
    </section>
}
@section styles {
    @Styles.Render("~/bundles/syntaxhighlighter-css")
}

<div class="container-fluid">
    <div class="row-fluid">
        <div id="explorerArea">
            <div class="span2">
            @if (Model.HasChildren)
            {
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        @foreach (var child in Model.Children)
                        {
                            @RenderMenuItems(child)
                        }
                    </ul>
                </div>
                <!--/.well -->
            }
            </div>
        </div>
        <div class="span10 contentWell content">
            <div class="row-fluid">
                <header class="span12">
                    <h2 class="pull-left">@Model.DisplayName</h2>
                </header>
            </div>
            @if (!Model.HasChildren)
            {
                @Html.DocumentationPage()
            }
            @foreach(var child in Model.Children) {
                @RenderSection(child)
            }
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/syntaxhighlighter-js")
    @Scripts.Render("~/bundles/explorer")
    <script type="text/javascript">
        $(function() {
            $(document).ready(function () {
                var childLinks = $(".contentWell .child-link");

                //  When user clicks on tab, this code will be executed
                $(childLinks).click(function () {
                    var childTabs = $(this).parents(".level-0").find(".level-1");

                    //  First remove class "active" from currently active tab
                    $(childLinks).removeClass('active');

                    //  Now add class "active" to the selected/clicked tab
                    $(this).addClass("active");

                    //  Hide all tab content
                    $(childTabs).hide();

                    //  Here we get the href value of the selected tab
                    var selected_tab = $(this).attr("href");

                    //  Show the selected tab content
                    $(selected_tab).fadeIn();

                    //  At the end, we add return false so that the click on the link is not executed
                    return false;
                });
            });
        });
    </script>
}
