@inherits QueryBuilderComponent<AlertSearchBuilder>
@using DowJones.Search;
@using DowJones.Attributes;
@using DowJones.Globalization;
@using System.Web.Mvc.Html;

@ClientPlugin dj_AlertSearchBuilder
@ScriptResource RelativeResourceName=AlertSearchBuilder.js
@{ CssClass = "dj_AlertSearchBuilder"; }

@if (!Model.HideAlertList)
{
    <div class="dj_query-summary ui-component">
        <span class="dj_alert-wrapper"><span class="label">@DJ.Token("track")&nbsp; </span>
            <span class="dj_menu-wrapper"><span selectedAlertId='@Model.SelectedAlertId'>@Model.SelectedAlertText</span>
                <div class="dj_selectbox-arrow">
                    <span id="selectboxLoading" style="height: 13px; display: none;" class="loadingProgress"></span>
                </div>
            </span>
        </span>
        @{ var checkValNew = (Model.AlertHeadlineViewType != DowJones.Search.AlertHeadlineViewType.All) ? "checked=checked" : string.Empty; }
        @{ var checkValAll = (Model.AlertHeadlineViewType == DowJones.Search.AlertHeadlineViewType.All) ? "checked=checked" : string.Empty; }
        <span>
             <input type="radio" value="New" name="AlertHeadlineViewType" id="AlertHeadlineViewType" @checkValNew>
             <span>@DJ.Token("viewNewHeadlines")</span> 
        </span>
        <span>
            <input type="radio" value="All" name="AlertHeadlineViewType" id="AlertHeadlineViewType" @checkValAll>
            <span>@DJ.Token("viewAllHeadlines")</span> 
        </span>
        <input type="hidden" id="hdnServiceUrl" value="@Model.ServiceUrl" />
        <input type="hidden" id="hdnPostBackUrl" value="@Model.PostBackUrl" />
    </div>
}
@Html.Hidden("AlertId", Model.SelectedAlertId.ToString())
@Html.Hidden("ViewType", Model.AlertHeadlineViewType.ToString())
@Html.Hidden("Sessionmark", Model.Sessionmark)
@Html.Hidden("Bookmark", Model.Bookmark)
@Html.Hidden("usageAggregator", Model.SelectedAlertText)
@Html.Hidden("kind", "alert")