@inherits AbstractCanvasModuleEditor<CanvasModules.HtmlModule.Editor.HtmlModuleEditor>
@ClientPlugin dj_HtmlModuleEditor
@ScriptResource RelativeResourceName=HtmlModuleEditor.js, DependsOn=AbstractCanvasModuleEditor
@{ CssClass += " dj_HtmlModuleEditor"; }

<fieldset>
    <p>
        <label>@DJ.Token("title")</label>
        <textarea class="title">@Model.Title</textarea>
    </p>
    <p>
        <label>@DJ.Token("html")</label>
        <textarea class="html">@Model.Html</textarea>
    </p>
    <p>
        <label>@DJ.Token("script")</label>
        <textarea class="script">@Model.Script</textarea>
    </p>
</fieldset>