@{
    Html.DJ().ScriptRegistry()
        .Include("~/scripts/site.js", ClientResourceDependencyLevel.Global)

        .Include("~/content/superfish/superfish.js", ClientResourceDependencyLevel.Global)
        .OnDocumentReady("$('ul.sf-menu').superfish()")

        .Include("~/content/syntaxhighlighter/sh.js", ClientResourceDependencyLevel.Global)
        .OnDocumentReady("SyntaxHighlighter.config.clipboardSwf = '/Showcase/components/syntaxhighlighter/scripts/clipboard.swf'")
        .OnDocumentReady("SyntaxHighlighter.all()");

    Html.DJ().StylesheetRegistry()
        .Include("~/content/emg_default.css", ClientResourceDependencyLevel.Global)
        .Include("~/content/emg_grid.css", ClientResourceDependencyLevel.Global)
        .Include("~/content/emg_layout.css", ClientResourceDependencyLevel.Global)
        .Include("~/content/emg_text.css", ClientResourceDependencyLevel.Global)
        .Include("~/content/showcasestyle.css", ClientResourceDependencyLevel.Global)
        .Include("~/content/superfish/superfish.css", ClientResourceDependencyLevel.Global)
        .Include("~/content/syntaxhighlighter/shCore.css", ClientResourceDependencyLevel.Global)
        .Include("~/content/syntaxhighlighter/shThemeDefault.css", ClientResourceDependencyLevel.Global);
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.DJ().ScriptRegistry().RenderHead()
    @Html.DJ().StylesheetRegistry().RenderHead()
    
    <script type="text/javascript">
        $(function () {
            $dj.debugEnabled = true; 
        });
    </script>

</head>
<body>
    <div id="emgdocContainer">
        <div id="emgdocrightBorder">
            <div id="djshowcase_header_wrapper">
                <div id="djshowcase_header">
                    <header>Dow Jones MVC Framework Showcase</header>
                </div>
            </div>
            <div id="emg_menu">
                @Html.Partial("_Navigation")
            </div>
            <h2 class="emg_doc_page_title">@ViewBag.Title</h2>
            <div id="djshowcase_content_wrapper">
                @RenderBody()
            </div>
            @if (IsSectionDefined("SomeContent"))
            {
                <div id="sampleSection">
                    @RenderSection("SomeContent")
                </div>
            }
            <div id="djshowcase_footer_wrapper">
                <footer id="djshowcase_footer">
                <div class="djshowcase_footer_logo_left"></div>
                <div class="djshowcase_footer_center">
		            <p>Last rendered at: @DateTime.Now</p>
                </div>
                <div class="djshowcase_footer_logo_right"></div>
                <div class="cleaner"></div>
	        </footer>
            </div>
        </div>
        <div id="emgdocfooterBorder">
        </div>
    </div>
    @Html.DJ().StylesheetRegistry().Render()
    @Html.DJ().ScriptRegistry().Render()
</body>
</html>
