
        <nav>
            <ul class="sf-menu">

				<li>
					<a>Framework</a>

					<ul>
						<li>
							@Html.ActionLink("Forms & Validation", "Index", "FormsValidation")
						</li>
						<li>
							@Html.ActionLink("AJAX", "Index", "Ajax")
						</li>
						<li>
							@Html.ActionLink("Action Filters", "Index", "Filters")
						</li>
						<li>
							@Html.ActionLink("Output Caching", "Uncached", "Filters")
						</li>
						<li>
							@Html.ActionLink("AspCompat", "ApartmentState", "Home")
						</li>
						<li>
							@Html.ActionLink("Trigger an Exception", "GenericError", "Home")
						</li>
					</ul>
				</li>

				<li>
					<a>MVC Controls</a>

					<ul>
                        <li>@Html.ActionLink("Article", "Latest", "Article")</li>
                        <li>@Html.ActionLink("Headline List", "Index", "HeadlineList")</li>
                        <li>
							@Html.ActionLink("Headline List Carousel", "Carousel", "HeadlineListCarousel")
						</li>
                         <li>
							@Html.ActionLink("Portal Viewer", "Index", "PortalHeadlineList")
						</li>
                        <li>
                            @Html.ActionLink("Article Translator","Index","ArticleTranslator")
                        </li>
                         <li>
							@Html.ActionLink("Regional Map", "Index", "RegionalMap")
						</li>
                        <li>
							@Html.ActionLink("Company Profile Graph", "Index", "CompanyProfileGraph")
						</li>
                        <li>
							@Html.ActionLink("Realtime Headline List", "Index", "RealtimeHeadlineList")
						</li>
                         <li>
							@Html.ActionLink("Mini Profile Graph", "Index", "MiniCompanyProfileGraph")
						</li>
                        <li>
							@Html.ActionLink("Callout Popup", "Index", "CalloutPopup")
						</li>
                       
                       
                        <li>
							@Html.ActionLink("News Stand Ticker", "Index", "NewsStandTicker")
						</li>
                        <li>
							@Html.ActionLink("Headline Carousel", "Index", "HeadlineCarousel")
						</li>
                      
					</ul>
				</li>

                <li>
                    @Html.ActionLink("Factiva", "Index", new { area = "Factiva", controller = "Factiva" })
                </li>
                <li>
                    @Html.ActionLink("MADE", "Index", "MADE")
                </li>

            </ul>
        </nav>
