@inherits AbstractCanvasModuleEditor<CanvasModules.EmbeddedContent.Editor.EmbeddedContentEditor>
@ClientPlugin dj_EmbeddedContentEditor
@ScriptResource RelativeResourceName=EmbeddedContentEditor.js, DependsOn=AbstractCanvasModuleEditor
@{ CssClass += " dj_EmbeddedContentEditor"; }

<fieldset>
    <p>
        <label>@DJ.Token("title")</label>
        <textarea class="title">@Model.Title</textarea>
    </p>
    <p>
        <label>@DJ.Token("width")</label>
        <input type="text" class="width" value="@Model.Width" />
    </p>
    <p>
        <label>@DJ.Token("height")</label>
        <input type="text" class="height" value="@Model.Height" />
    </p>
    <p>
        <label>@DJ.Token("url")</label>
        <input type="text" class="url" value="@Model.Url" />
    </p>
</fieldset>