@model EmbeddedResourceDebuggerRequest
@using System.Web.Mvc.Html
@{ var Title = "Embedded Resource Debugger"; }
<html>
<head>
    <title>@Title</title>
    <style>
        label
        {
            font-weight: bold;
            float: left;
            min-width: 120px;
        }
        
        pre
        {
            clear: both;
        }
        
        .resource-info-container
        {
            margin: 0 20px;
            width: 45%;
            float: left;
        }
        
        .resource-contents
        {
            width: 100%;
            height: 500px;
            overflow: auto;
            margin-bottom: 40px;
            border: inset 2px;
            clear: both;
        }
    </style>
</head>
<body>
    <h1>@Title</h1>

    <form method='POST'>
    
        <p>
            <label>Assembly:</label>
            @Html.DropDownList("AssemblyName", Model.ReferencedAssemblies, new { style = "width: 800px" })
        </p>
    
        <p>
            <label>Resource Name:</label>
            @Html.TextBox("ResourceName", Model.ResourceName, new { style = "width: 800px" })
        </p>
            <div>
            <p><input value='Debug Embedded Resource' type='submit' /></p>
        </div>
    
    </form>


    <div class='results' style='display: @(Model.HasAssemblyName ? "block" : "none")'>
        
        <div class="resource-info-container">
            
            <h2>Embedded Resource</h2>

            <div class="resource-contents">
                <pre>@Model.EmbeddedResourceContents</pre>
            </div>

        </div>


        <div class="resource-info-container">
            <h2>
                <a class="resource-link" href='@Model.WebResourceUrl' target='_blank'>Web Resource</a>
            </h2>
            
            <iframe class="resource-contents" src='@Model.WebResourceUrl'></iframe>
        </div>
    </div>

</body>
</html>