@{
    Layout = null;
    
    StylesheetRegistry
        .Include("http://djuxsandbox.com/css/ui-dev.css")
        .Include( "http://djuxsandbox.com/cache/NewsPages_f62dec967104fcfbc255cf89211f6bbe.css" )
        .Include("~/content/SearchResults.css");
}

<!DOCTYPE html>
<html>
<head>
    <title>Search Results Composite Control</title>
    @ScriptRegistry.RenderHead()
    @StylesheetRegistry.RenderHead()
    <script type="text/javascript">
        $(function () {
            $dj.debugEnabled = true;
        });
    </script>
    <style type="text/css">
        .dj_articlePager  
        {
        	visibility:hidden; 
        	background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #DEDEDE;
            border-radius: 5px 5px 5px 5px;
            color: #444444;
            font-size: 12px;
            font-weight: normal;
            line-height: 1.5em;
            padding: 2px 7px;
        }
    </style>
</head>
<body class="dj_page-search">
<div id="dj_header"><div class="no-tabs" id="dj_header-wrap">

    <div id="dj_header-top"><div id="dj_header-top-wrap" class="container_9 clearfix">
    
       <ul class="header-nav nav-left clearfix">
            <li><a href="#" title="Preferences">Preferences</a></li>
            <li><a href="#" title="Support">Support</a></li>
            <li class="last"><a href="#" title="Logout">Logout</a></li> 
        </ul><!-- end: .nav-left -->
        
        <ul class="header-nav nav-right clearfix">
            <li class="first"><a href="#" title="Saved Topics">Saved Topics</a></li>
            <li><a href="#" title="Alerts">Alerts</a></li>
            <li><a href="#" title="Author Activities">Author Activities</a></li>
            <li><a href="#" title="Briefing Books">Briefing Books</a></li>
            <li class="last"><a href="#" title="Lists">Lists</a></li>
        </ul><!-- end: .nav-right -->
    
    </div></div><!-- end: .dj_header-top -->

    <div id="dj_header-bottom"><div class="container_9 clearfix" id="dj_header-bottom-wrap">
    
        <div id="dj_header-content" class="clearfix">
        
            <h1 id="dj_header-logo">Factiva Communicator</h1>
    
        </div><!-- end: #dj_header-content -->
    
    </div></div><!-- end: #dj_header-bottom -->
	
</div></div>

    @RenderBody()


    <div id="dj_footer" class="clearfix">
        <div id="dj_footer-top">
            <div id="dj_footer-top-wrap" class="container_9 clearfix">
                <p id="dj_footer-logo">
                    Factiva</p>
            </div>
        </div>
        <!-- end: #dj_footer-top -->
        <div id="dj_footer-copyright">
            <div class="container_9 clearfix" id="dj_footer-copyright-wrap">
                <p class="dj_footer-copyright-left">
                    © 2011 Dow Jones Factiva | All Rights Reserved | <a href="#" tooltip="Privacy Policy">Privacy Policy</a>
                </p>
                <p class="dj_footer-copyright-right">
                    <a href="#" tooltip="Feedback">Feedback</a> | <a href="#" tooltip="Logout">Logout</a> | <a href="#" tooltip="Support">Support</a>
                </p>
            </div>
        </div>
    </div>

    @StylesheetRegistry.Render()
    @ScriptRegistry.Render()
</body>
</html>