@using DowJones.Extensions
@model DowJones.Web.Mvc.UI.Components.SocialMedia.TweetLinesModel
@ClientPlugin dj_TweetLines
@ScriptResource RelativeResourceName=TweetLines.js
@ClientTemplate RelativeResourceName=ClientTemplates.tweetlines.htm, TemplateId=tweetlines
@ClientTemplate RelativeResourceName=ClientTemplates.noData.htm, TemplateId=noData
@{ CssClass += " dj_TweetLines ";
   Html.DJ().ScriptRegistry().WithJQueryTimeAgo();
   Html.DJ().ScriptRegistry().WithODSManager();
}
<div class="dj_more-tweets dj_new-tweets hide" style="z-index: 15;">
	<span></span>
</div>
<ul class="dj_twitter-recent-tweets">
	@foreach (var tweet in Model.Tweets)
 {
		<li data-tweet-id="@tweet.Id" data-user-id="@tweet.User.Id" data-full-name="@tweet.User.FullName" data-screen-name="@tweet.User.ScreenName" class="dj_tweet-item clearfix">
			<img alt="@tweet.User.FullName" src="@tweet.User.ProfileImageUrl">
			<div class="dj_tweet-content">
				<div class="dj_tweet-meta">
					<a title="@tweet.User.FullName" href="@tweet.User.ProfileUrl" class="dj_full-name" data-action="fullNameClick" target="_blank">
						@tweet.User.FullName
					</a><a href="@tweet.User.ProfileHashUrl" title="@tweet.User.FullName" class="dj_screen-name" data-action="screenNameClick" target="_blank">
						@@@tweet.User.ScreenName
					</a><span class="dj_time-stamp" data-time="@tweet.IsoTimeStamp"><span title="@tweet.IsoTimeStamp">
					</span>
						@(string.IsNullOrEmpty(tweet.SourceText) ? "" : string.Format(" {0} {1}", @Html.DJ().Token("via"), tweet.SourceText))</span>
					<ul class="dj_post-processing">
						<li class="dj_follow" data-action="follow">@Html.DJ().Token("follow")</li>
						<li class="dj_reply" data-action="reply">@Html.DJ().Token("replyTweet")</li>
						<li class="dj_retweet" data-action="retweet">@Html.DJ().Token("reTweet")</li>
						<li class="dj_favorite" data-action="favorite">@Html.DJ().Token("favorite")</li>
						<li class="dj_details" data-action="details">@Html.DJ().Token("details")</li>
					</ul>
				</div>
				<p class="dj_tweet">
					@tweet.Html
				</p>
			</div>
		</li>
 }
</ul>
<div class="dj_more-tweets dj_old-tweets @(Model.MaxPagesInHistory >= 0 ? "" : "hide") " style="z-index: 15;">
	<span>@Html.DJ().Token("loadMoreTweets")</span></div>
<div class="dj_to-top-wrap  @(Model.MaxPagesInHistory >= 0 ? "hide" : "") ">
	<span class="dj_bird-label"></span><span class="dj_to-top">@Html.DJ().Token("backToTopTweet")
		↑ </span>
</div>
