@using DowJones.Web.Mvc.UI.Components.NavBar
@using DowJones.Web.Mvc.UI.Components.Menu;
@model NavBarModel
@ClientPlugin dj_NavBar
@ScriptResource RelativeResourceName=NavBar.js
@{ 
    CssClass = "container_9";
    ClientID = "dj_canvas_nav";
    Html.DJ().Menu();
}
<div id="tabbar" class="scrollabletabbar container_9 clearfix">
    <div class="tabs-fade-left">
    </div>
    <div class="tabs-fade-right">
    </div>
    <div class="tabs-container">
        <ul class="tabs">
            @foreach (NavItem tab in Model.Tabs)
            {
                <li class="tab-container @(tab.CssClass) @(tab.IsSelected ? "active" : "") dj_menuItemContainer" data-id="@(tab.Id)" data-is-selectable="@(tab.IsSelectable)">
                    <div class="tab">
                        <div class="tab-content">
                            <span class="label" title="@(tab.Label)">@(tab.Label)</span> <span class="icon"><span
                                class="fi fi_gear dj_actionItem"></span></span>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="actionitems-container actionitems-container-right">
        <ul class="actionitems">
            @foreach (NavItem actionItem in Model.ActionItems)
            {
                <li class="actionitem-container @(string.IsNullOrWhiteSpace(actionItem.Label) ? "no-label" : "") @(actionItem.CssClass) @(actionItem.IsSelected ? "active" : "") dj_menuItemContainer" title="@(actionItem.Tooltip)" data-id="@(actionItem.Id)" data-is-selectable="@(actionItem.IsSelectable)">
                    <div class="actionitem">
                        <div class="actionitem-content">
                            <span class="label">@actionItem.Label</span> 
                            @if (actionItem.HasMenuItems)
                            {
                            <span class="icon"><span class="@(actionItem.IconClass) dj_actionItem">
                            </span></span>
                            }
                        </div>
                    </div>
                </li>
                
            }
        </ul>
    </div>
</div>
