@model dynamic
@{ 
    var title = "Dow Jones Error Diagnostics Page"; 
}
<head>
    <title>@title</title>
</head>
<body>
    <h1>@title</h1>

    <form method="get">

        <p>
            <label for="StatusCode">Status Code</label>
            <input name="StatusCode" type="text" value="@Model.StatusCode" />
        </p>

        <p>
            <label for="timeToProcess">Time to Process (wait)</label>
            <input name="timeToProcess" type="text" value="@Model.TimeToProcess" />
        </p>

        <p>
            <label for="Body">Body</label>
            <br/>
            <textarea name="Body">@Model.Body</textarea>
        </p>

        <p>
            <button type="submit">Make Request</button>
        </p>

    </form>
</body>