<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/styles/normalize.css")" rel="stylesheet" />
	<link href="@Url.Content("~/styles/normalizeExtensions.css")" rel="stylesheet" />
	<link href="@Url.Content("~/styles/site.css")" rel="stylesheet" />

    @RenderSection("styles", false)

	<script type="text/javascript">
    var DJ = { config: { debug: true } };
    </script>
    
    @DJ.ScriptRegistry().RenderHead()
    @DJ.StylesheetRegistry().RenderHead()
</head>
<body>

    @RenderBody()
    
    @DJ.StylesheetRegistry().Render() 
    @DJ.ScriptRegistry().Render()
    
    @RenderSection("scripts", false)
</body>
</html>
