@model EntityListModel
@ClientPlugin dj_EntityList
@ScriptResource RelativeResourceName=EntityList.js
@ClientTemplate RelativeResourceName=ClientTemplates.Entity.htm, TemplateId=entity 
@{ 
    CssClass = "dj_EntityList dj_pill-list yellow clearfix js_pill-list";
    TagName = HtmlTextWriterTag.Ul.ToString();
}

@foreach (var group in Model.Groups)
{
    <li class="pill-group" data-group="@group.Category">
        
        <span class="section-category">@DJ.Token(group.Category):</span>
        
        <ul class="pill-list">

        @foreach (var entity in group.Entities)
        {
                        
            <li class="dj_pill" data-code="@entity.Code" data-name="@entity.Name">
                <span class="entity-name">@entity.Name</span>
                <span class="remove"></span>
            </li>
                        
        }

        </ul><!-- end: .pill-list -->

    </li><!-- end: .pill-group -->
}
