@using System.Web.Mvc
@using System.Linq
@using System.Collections
@using System.Collections.Generic
@using DowJones.Web.Mvc.UI.Components.Models

@model AuthorListModel
@ClientPlugin dj_AuthorList
@ScriptResource RelativeResourceName=AuthorList.js
@{ CssClass = "dj_AuthorList"; }
@if (Model != null && Model.Authors.Any())
{
	Model.InitializeDomDataCollections();
	string sort = "<span class='dj_sortable-table-columnUp'></span>";
	if (Model.SortOrder == OrderDirections.Descending)
	{
		sort = "<span class='dj_sortable-table-columnDown'></span>";
	}
	<script type="text/javascript">
		$(document).ready(function () {

			var ids = $("#selected_author_ids").val();
			if (ids == "") return;

			var idarr = ids.split(",");
			$("td input:checkbox").each(function () {
				var $this = $(this);
				var id = $this.attr("authorlist-aid");
				var idx = $.inArray(id, idarr);
				if (idx > -1) {
					$this.attr("checked", true);
				}
			});

			if (idarr.length > 1) {
				if ($(".dj_list-select-count").hasClass("hide") == true) {
					$(".dj_list-select-count").removeClass("hide");
				}

				$(".dj_list-select-count span.count").html(idarr.length);
			}

		});
	</script>
	<input type="hidden" id="author_list_sort_by" value="@(EnumDescription.StringValueOf(Model.SortBy))" />
	<input type="hidden" id="author_list_sort_order" value="@(EnumDescription.StringValueOf(Model.SortOrder))" />
	<input type="hidden" id="selected_author_ids" value="@Model.SelectedAuthorIds" />
	<div class="dj_data_table-container">
	<table class="dj_data_table-sorter dj_data_table dj_author-list-table">
		<thead>
			<tr>
				<th colspan="3" class="dj_col-checkbox"></th>
				<th class="dj_col-string dj_sortable-table-header" data-sort="name">
					@Model.Tokens.ContactName
					@(Model.SortBy == AuthorListSortColumns.ContactName ? sort : "")
				</th>
				<th class="dj_col-string dj_sortable-table-column">
					@Model.Tokens.Articles<br />(@Model.Tokens.Last90Days)
				</th>

				@foreach (ThItem th in Model.ThCollection) 
				{
					string s = String.Empty;
					if (th.Sortable)
					{
						s = String.Format(" data-sort='{0}'", th.SortableAttribut);
					}
					<th class="@th.ThClass"@s>
						@if(th.IsTextSplitable)
						{
							new MvcHtmlString(th.Text);
						}
						else
						{
							@th.Text
						}
						@th.SortedSpan
					</th>
				}
			</tr>
		</thead>
		<tbody class="dj_data_table-scroll">
		@foreach(TrItem row in Model.TrCollection)
		{
			<tr class="@row.TrClass">
				@for (int c = 0; c < row.TdItems.Length; ++c)
				{
					TdItem td = row.TdItems[c];
					<td class="@td.TdClass">
						@if (td.IsAncor)
						{ 
							<a href="@td.AncorHref" class="@td.AncorClass" @td.AncorAttributes>
								@if (td.IsHtmlText)
								{
									@(new MvcHtmlString(td.Text))
								}
								else
								{
									@td.Text
								}
							</a>
						}
						else
						{
							if (td.IsHtmlText)
							{
								@(new MvcHtmlString(td.Text))
							}
							else
							{
								@td.Text
							}
						}
					</td>
				}
			</tr>
		}
		</tbody>
	</table>
	</div>
	<!-- Save As Menu -->
	<div class="menu actionsMenu" style="display:none;">
		<div class="menuitems">
		@{
			foreach (var menu in Model.Actions)
			{
				<div class="menuitem">
					<div class="label" data-action="@menu.Value">@menu.Text</div>
				</div>
			}
		}
		</div>
	</div>
	<!-- Save As Menu -->
	
	<!-- Modal Clear Selection -->
	<div id="dj_clear_selection" style="display:none;">
		<!-- Modal title tag: -->
		<h3 class="dj_modal-title">@Model.Tokens.UnselectCheckboxesConfirmTitle</h3>
		<!-- Modal content tag: -->
		<div class="dj_modal-content">
			<div class="dj_modal-content-wrap" style="padding-top: 20px; padding-left: 20px; padding-right: 20px;">
				<h3 style="height:54px;">@Model.Tokens.UnselectCheckboxesConfirmMessage?</h3>
					<div class="dj_modal-footer">
					<input class="dj_btn dj_btn-green export dj_confirm-unselect-checkboxes" value="Yes" type="submit" />
					<span class="dj_btn dj_btn-gray dj_modal-close" onclick="$().overlay.hide('#'+$(this).closest('.dj_modal').attr('id'));">Cancel</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Clear Selection -->
}
else
{
	<span class="dj_noResults">@Model.Tokens.NoResults</span>
}